.aside {
  background-color: $gray;
  border-bottom: 1px solid $gray-light;
  border-top: 1px solid $gray-light;
  margin: 8px -14px 32px;
  padding: 25px 14px 5px;

  @include breakpoint($medium-up) {
    margin: 26px -30px 40px;
    padding: 28px 30px 5px;
  }

  @include breakpoint($large-up) {
    border: 0;
    margin: 50px -91px 28px -271px;
    padding: 18px 91px 18px 271px;

  }

  @include breakpoint($xlarge-up) {
    border: 0;
    border-left: 1px solid $gray-light;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 1156px;
    margin: 0;
    max-width: 270px;
    overflow-y: auto;
    padding: 0 0 0 40px;
    position: fixed;
    right: 0;
    top: 0;
  }

  &__header {
    color: $gray-sixth;
    font-weight: 300;
    line-height: 1.13;
    margin-bottom: 11px;
  }

  &__text {
    margin-bottom: 29px;
  }

  &__price {
    color: $black;
    font-size: 2.8rem;
    font-weight: 500;
  }

  &__section {
    margin-bottom: 10px;
  }

  &__counter-wrapper {
    align-items: center;
    display: flex;
    margin-bottom: 17px;
  }

  &__counter {
    flex: 0 0 70px;
  }

  &__counter-name {
    color: $gray-fifth;
    flex: 1 1;
    line-height: 1.13;
    margin-left: 16px;
    text-transform: uppercase;
  }

  @include breakpoint(lower-bound($medium-range) upper-bound($large-range)) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__section {
      flex: 0 1 auto;
      margin: 0 -20px !important;
      padding: 0 20px;

      & + & {
        margin-left: 61px;
      }
    }

    [class*='btn'] {
      margin: 0 auto;
    }
  }

  @include breakpoint($xlarge-up) {
    &__section {
      margin-bottom: 40px;
    }
  }
}

.aside-menu {
  margin: 0;

  li {
    margin: 0;

    &::before {
      display: none;
    }
  }

  @include breakpoint($large-down) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      flex: 0 0 (100% / 3);
      list-style: none;
    }

    a {
      align-items: center;
      color: $gray-fifth;
      display: flex;
      font-weight: 300;
      height: 100%;
      justify-content: center;
      line-height: 1.13;
      padding: 13px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all .2s ease-in;

      &:hover {
        background-color: $blue-light;
        color: $white;
      }
    }
  }
  @include breakpoint($small-only) {
    li {
      flex: 1 0 100%;
    }
  }
  @include breakpoint($xlarge-up) {
    margin: 0 0 0 -13px;

    li {
      list-style: none;
    }

    a {
      color: $gray-fifth;
      display: block;
      font-weight: 300;
      line-height: 1.13;
      padding: 13px;
      position: relative;
      text-decoration: none;
      transition: all .2s ease-in;

      &:hover {
        background-color: $blue-light;
        color: $white;
        padding-left: 51px;

        &::after {
          opacity: 1;
          transform: translate(13px, -50%);
          visibility: visible;
        }
      }

      &::after {
        content: '';
        display: block;
        height: height('menu.arrow.png');
        left: 0;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-130%, -50%);
        transition: all .25s ease-in .1s;
        visibility: hidden;
        width: width('menu.arrow.png');
      }
    }
  }
}

.aside__cms-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  img {
    flex: 0 0 auto;
    margin-bottom: 5px;
  }
}