.base-map {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__step-ico {
    animation: show-base-ico 3.4s 1 ease;
    background-color: rgba($white, .5);
    border: 1px solid $blue-light;
    border-radius: 50%;
    display: inline-block;
    height: 114px;
    padding: 10px;
    width: 114px;
  }

  &__bulb {
    margin-bottom: 10px;
    position: relative;
    z-index: 21;
  }

  &__arrow {
    animation: arrow-move 10s linear 1s;
    opacity: 0;
    position: absolute;
    right: 0%;
    top: 141px;
    transform: translate(50%, -50%);
    z-index: 21;
  }

  @for $i from 1 through 4 {
    &__step-0#{$i} &__step-ico {
      animation-duration: (1.2s * $i);
      //animation-delay: (5s * $i);
    }
  }

  &__step-04 &__step-ico {
    border-color: $green;
    padding: 9px;
  }

  &__ico {
    display: block;
    :hover > & {
      animation: spin-base-ico 7s 1 ease-in;
    }
  }

  &__title {
    color: $black-second;
    font-size: 1.7rem;
    font-weight: 300;
    margin-top: auto;
    padding-bottom: 2em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    span {
      left: 50%;
      max-width: 200px;
      padding: 0 10px;
      position: absolute;
      transform: translateX(-50%);
      width: 200%;
    }
  }

  &__step {
    align-items: center;
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
    text-align: center;

    &::after {
      border-bottom: 1px solid $blue-light;
      content: '';
      left: 0;
      position: absolute;
      top: 141px;
      width: 100%;
      z-index: 20;
    }
  }

  @include breakpoint($small-only) {
    &__step-01 {
      order: 1;
    }

    &__step-02 {
      order: 2;
    }

    &__step-03 {
      order: 4;
      .base-map__arrow {
        transform: rotate(180deg);
      }
    }

    &__step-04 {
      order: 3;
    }

    &__step-01::after,
    &__step-04::after {
      left: auto;
      right: 0;
      width: 50%;
    }

    &__step-02::after,
    &__step-03::after {
      width: 50%;
    }
  }

  @include breakpoint($xsmall-only) {
    &__step {
      flex: 0 0 100%;

      &::after {
        display: none;
      }

      .base-map__arrow {
        display: none;
      }
    }

  }

  &__path-lg {
    display: none;
  }

  @include breakpoint($medium-up) {
    &__step {
      flex: 0 0 25%;
      margin-bottom: .5em;
      z-index: 22;
    }

    &__step-01::after {
      left: auto;
      right: 0;
      width: 50%;
    }

    &__step-04::after {
      width: 50%;
    }

    &::before {
      border-bottom: 1px solid #c2e0f4;
      content: '';
      display: block;
      left: 10%;
      position: absolute;
      top: 60px;
      width: 80%;
    }

    &__path-lg {
      display: block;
      position: absolute;
      top: 60px;
      width: 120px;
      z-index: 20;

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
        transform: rotatey(180deg);
      }
    }
  }

  @include breakpoint($xlarge-up) {
    &__title {
      span {
        max-width: 240px;
      }
    }
  }
}

@keyframes show-base-ico {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes spin-base-ico {
  0%, 30% {
    transform: rotateY(20deg);
  }
  10%, 40% {
    transform: rotateY(360deg);
  }
  20%, 100% {
    transform: rotateY(360deg);
  }
}

@keyframes arrow-move {
  0% {
    opacity: 0;
    transform: translate(-125%, -50%);
  }

  10%, 100% {
    opacity: 1;
    transform: translate(50%, -50%);
  }

}

.base-step {
  display: flex;
  flex-wrap: wrap;

  .col-left {
    flex: 1 0 0%;
    margin-right: 38px;
    text-align: right;

    h3 {
      margin: 14px 0 16px;
    }

    p {
      color: $black-light;
    }
  }

  .col-part {
    display: flex;
    flex: 1 0 0%;
    flex-wrap: wrap;
  }

  &__part {
    background-color: $white;
    border: 1px solid $gray-second;
    flex: 0 0 100%;
    margin-bottom: 25px;
    padding: 16px 10px 16px 29px;
    position: relative;

    &::before {
      animation: show-arrow .6s 1 ease-in;
      content: '';
      display: block;
      height: height('ico.part-arrow.png');
      left: -7px;
      position: absolute;
      top: 14px;
      width: width('ico.part-arrow.png');
    }
  }

  &__part-title {
    // Text style for "1. SEO"
    color: $grey-four;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 6px;
  }

  &__part-text {
    color: $black-light;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.23;
    opacity: .7;
    overflow: hidden;
    padding-left: (15 / 257 * 100%);
    width: 100%;
  }

  @include breakpoint($medium-up) {
    flex-wrap: nowrap;

    .col-left {
      flex: 0 0 202px;
    }

    .col-part {
      padding-top: 54px;
    }

    &__part {
      flex-basis: (257 / 538 * 100%);
      max-width: (257 / 538 * 100%);

      &:nth-of-type(1) {
        margin-right: (24 / 538 * 100%);
        order: 1;
      }
      &:nth-of-type(2) {
        margin-right: (24 / 538 * 100%);
        order: 3;
      }
      &:nth-of-type(3) {
        margin-right: (24 / 538 * 100%);
        order: 5;
      }
      &:nth-of-type(4) {
        order: 2;
      }
      &:nth-of-type(5) {
        order: 4;
      }
      &:nth-of-type(6) {
        order: 6;
      }
    }
  }
}

@keyframes show-arrow {
  from {
    opacity: 0;
    transform: translatex(-100%);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}