[class*='btn'] {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: background .4s ease-in;

  &[disabled],
  &.is-disabled {

    animation: none !important;
    background-color: #e3e3e3 !important;
    box-shadow: 0 2px 10px rgba(231, 231, 231, 0.5) !important;
    cursor: default;
    opacity: .8 !important;
    pointer-events: none;
  }
}

.btn {
  // Style for "Прямоуголь"
  &--blue {
    background-color: $blue-light;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba($blue-light, .5);
    color: $white;
    font-size: 1.4rem;
    height: 52px;
    min-width: 228px;
    padding: 19px 10px;
    text-decoration: none;
    text-transform: uppercase;
    //width: 100%;

    &:hover {
      animation: btn--blue-hover .5s;
      background-color: rgba($blue-light, .8);
    }
  }

  &--red {
    background-color: $red;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba($red, .5);
    color: $white;
    font-size: 1.4rem;
    height: 52px;
    min-width: 228px;
    padding: 19px 10px;
    text-decoration: none;
    text-transform: uppercase;
    //width: 100%;

    &:hover {
      animation: btn--red-hover .5s;
      background-color: rgba($red, .8);
    }
  }

  &--white {
    background-color: $white;
    border: 2px solid $black-second;
    border-radius: 2px;
    color: $black-second;
    font-size: 1.4rem;
    height: 52px;
    min-width: 228px;
    padding: 19px 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .25s linear;
    //width: 100%;

    &:hover {
      animation: btn--white-hover .5s;
      background-color: darken($white, 5);
      box-shadow: 0 2px 10px rgba($black-second, .3);
    }
  }

  &--download {
    background: resolve('ico.download.svg');
    background-position: 21px center;
    background-repeat: no-repeat;
    border: 1px solid rgba($grey-four, .3);
    border-radius: 20px;
    color: rgba($grey-four, .6);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
    margin: 0 15px 10px 0;
    padding: 14px 20px 12px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .7s ease-out;

    &:hover {
      animation: animate-download .4s 1 linear;
      background-color: $green;
      background-image: resolve('ico.download--hover.svg');
      border-color: $green;
      color: $white;
    }
  }

  &--green {
    background-color: $green;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba($green, 0.5);
    color: $white;
    font-weight: 400;
    padding: 20px 10px 18px;
    text-transform: uppercase;
    transition: all .7s ease-out;
    width: 200px;

    &:hover {
      animation: btn--green-hover .5s;
      box-shadow: 0 2px 10px rgba($green, .3);
    }
  }

}

@keyframes btn--blue-hover {
  0% {
    background-color: $blue-light;
    box-shadow: 0 2px 10px rgba($blue-light, .5);
  }

  40% {
    background-color: rgba($blue-light, .8);
    box-shadow: 0 2px 20px rgba($blue-light, .8);
  }

  100% {
    background-color: rgba($blue-light, .8);
    box-shadow: 0 2px 10px rgba($blue-light, .5);
  }
}

@keyframes btn--red-hover {
  0% {
    background-color: $red;
    box-shadow: 0 2px 10px rgba($red, .5);
  }

  40% {
    background-color: rgba($red, .8);
    box-shadow: 0 2px 20px rgba($red, .8);
  }

  100% {
    background-color: rgba($red, .8);
    box-shadow: 0 2px 10px rgba($red, .5);
  }
}

@keyframes btn--white-hover {
  0% {
    background-color: $white;
  }

  40% {
    background-color: darken($white, 10);
    box-shadow: 0 2px 20px rgba($black-second, .5);
  }

  100% {
    background-color: darken($white, 5);
    box-shadow: 0 2px 10px rgba($black-second, .3);
  }
}

@keyframes btn--green-hover {
  0% {
    background-color: $green;
  }

  40% {
    background-color: darken($green, 10);
    box-shadow: 0 2px 20px rgba($green, .5);
  }

  100% {
    background-color: $green;
    box-shadow: 0 2px 10px rgba($green, .3);
  }
}