.doc-list {
  &__item {
    display: inline-block;
    margin-right: 18px;
    //perspective: 1px;
    position: relative;
    text-align: center;
    text-decoration: none;

    svg {
      height: 52px;
      width: 52px;
    }
    span {
      color: $red;
      display: block;
      font-size: 1.4rem;
      font-weight: 400;
      left: 50%;
      line-height: 1.29;
      opacity: 0;
      padding-top: 8px;
      position: absolute;
      transform: translate(-50%, 150%);
      transition: all .5s ease;
      visibility: hidden;
    }

    &:hover {
      span {
        opacity: 1;
        transform: translate(-50%, 0);
        visibility: visible;
      }

      &::before {
        animation: rotate-round 10s !important;
        animation-iteration-count: 1;
        background-color: $red;
        border-color: $red;
      }

      svg {
        animation: rotate-round 10s !important;
        animation-iteration-count: 1;
        //background-color: $red;
        //border-color: $red;

        > * {
          fill: $red;
        }

        .cls-2{
          fill: $red;
        }

      }
    }

    &::before {

      html:not(.pageload) & {
        animation: show-round 1s ease;
      }

      background: no-repeat center center;
      //border: 1px solid $grey-four;
      border-radius: 25px;
      content: '';
      display: block;
      height: 50px;
      margin: 0 auto;
      transition: all .2s ease-in;
      width: 50px;
    }

    &:nth-of-type(1)::before {
      animation: blink-round-1 10s infinite linear 10s;
      background-size: 50px 50px;
    }

    &:nth-of-type(2)::before {
      animation: blink-round-2 10s infinite linear 7s;
      background-size: 50px 50px;
    }

    &:nth-of-type(3)::before {
      animation: blink-round-3 10s infinite linear 18s;
      background-size: 50px 50px;
    }

    &--round::before {
      background: resolve('1_grey.png') no-repeat center center;
      background-size: 50px 50px;
    }

    &--pc::before {
      background: inline('2_grey.png') no-repeat center center;
      background-size: 50px 50px;
    }

    &--doc::before {
      background: resolve('3_grey.png') no-repeat center center;
      background-size: 50px 50px;
    }

    &--round:hover::before {
      background: resolve('1_red.png') no-repeat center center;
      background-size: 50px 50px;
    }

    &--pc:hover::before {
      background: resolve('2_red.png') no-repeat center center;
      background-size: 50px 50px;
    }

    &--doc:hover::before {
      background: resolve('3_red.png') no-repeat center center;
      background-size: 50px 50px;
    }
  }
}

