.main-menu {
  border-top: 1px solid $red-second;
  border-top: 1px solid $red-second;
  font-family: $font-fm;
  margin: 0;
  position: relative;

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    position: relative;
  }

  &__second-lvl {
    display: none;
  }

  a {
    color: $white;
    font-size: 1.4rem;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &.active {
      color: rgba($white, .8);
    }
  }



  &__tile {
    display: block;
    border-bottom: 1px solid $red-second;
    line-height: 1;
    padding: 16px 0 16px;
    text-align: center;

    li:hover > &,
    &:hover,
    &.acvtive {
      background-color: darken($red, 10);
    }

    &::before {
      background: $red no-repeat center center;
      content: '';
      display: block;
      height: 60px;
      margin: 0 auto 12px;
      transition: opacity .4s ease;
      width: 82px;
    }

    &--adaptive::before {
      background: resolve('adaptive.svg') no-repeat center center;
    }

    &--support::before {
      background: resolve('support.svg') no-repeat center center;
    }

    &--site::before {
      background: resolve('site.svg') no-repeat center center;
    }
  }

  @include breakpoint($small-only) {
    .is-parent {
      position: relative;

      &.is-active {
        > a {
          position: relative;
        }

        > a::after {
          border: 6px solid transparent;
          border-color: transparent $white $white transparent;
          bottom: -1px;
          content: '';
          display: block;
          left: 50%;
          margin-left: -12px;
          position: absolute;
        }
      }
    }

    &__second-lvl {
      .is-active & {
        display: block;
      }

      li + li {
        border-top: 1px solid $gray-light;
      }

      a {
        background: $white;
        color: $gray-fifth;
        display: block;
        font-size: 1.3rem;
        height: 50px;
        line-height: 50px;
        text-align: center;

        &:hover,
        &.active {
          color: $red-second;
        }
      }
    }

  }

  @include breakpoint($medium-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;

    li {
      flex: 0 0 (100% / 3);
      width: (100% / 3);
    }

    .is-parent {
      position: relative;

      &.is-active {
        > a {
          position: relative;
        }

        > a::after {
          border: 6px solid transparent;
          border-color: transparent $white $white transparent;
          bottom: -1px;
          content: '';
          display: block;
          left: 50%;
          margin-left: -12px;
          position: absolute;
        }
      }
    }

    &__second-lvl {
      background-color: $white;
      margin-left: -200% !important;
      width: 300%;

      .is-active > & {
        display: flex;
      }

      li {
        flex: 0 0 50%;
      }

      li + li {
        border-left: 1px solid $gray-light;
      }

      a {
        color: $gray-fifth;
        display: block;
        font-size: 1.3rem;
        height: 57px;
        line-height: 57px;
        text-align: center;

        &:hover,
        &.active {
          color: $red-second;
        }
      }
    }
  }

  @include breakpoint($large-up) {
    display: block !important;

    &__second-lvl {
      left: 100%;
      position: absolute;
      top: 0;

      :hover > & {
        display: block;
        animation: fade-in .3s ease-in;
      }

      a {
        color: $gray-sixth;
        transition: all .2s ease-in;
        white-space: nowrap;

        &:hover {
          background-color: $red;
          color: $white;
          opacity: 1;

          &::after {
            opacity: 1;
            transform: translate(-50%, -50%);
            visibility: visible;
          }
        }
      }
    }

    &__child-link {
      align-items: center;
      background-color: $white;
      border: 1px solid $red;
      display: flex;
      height: 60px;
      justify-content: center;
      margin: 0 0 -1px -1px;
      position: relative;
      text-align: center;
      width: 230px;

      &::after {
        content: '';
        display: block;
        height: height('menu.arrow.png');
        left: 0;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-130%, -50%);
        transition: all .15s ease-in;
        visibility: hidden;
        width: width('menu.arrow.png');
      }
    }
  }
}

.additional-menu {
  margin: 0;
  padding: 20px 0 26px;

  ul {
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: $white;
    font-size: 1.4rem;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &.active {
      background-color: darken($red, 10);
    }
  }
  &__link {
    display: block;
    padding: 9px 0;
    text-align: center;

  }

  @include breakpoint($medium-only) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    li {
      display: flex;
      flex: 0 0 (100% / 3);
      width: (100% / 3);
    }

    &__link {
      align-items: center;
      border-bottom: 1px solid $red-second;
      display: flex;
      flex: 1;
      justify-content: center;
      padding: 27px 0;
    }
  }

  @include breakpoint($large-up) {
    &__inner {
      box-shadow: none;
    }

    display: block !important;

    &__link {
      padding: 9px 25px;
      text-align: left;
    }
  }
}
