.portfolio-anons {
  margin: 0 -20px;

  &__list {
    height: 195px;
    margin-top: 20px;
    padding-top: 44px;
    @include breakpoint($medium-up) {
      display: flex;
      overflow-y: hidden;
    }
  }

  &__item {
    text-align: center;
    transition: all .5s ease;

    @include breakpoint($medium-up) {
      flex: 0 1 33%;
      margin: 0;
      &:nth-of-type(2) {
        margin: 0 27px;
      }
    }

    img {
      box-shadow: 0 0 39px 4px rgba($black, .15);
      transition: all .5s ease;
    }

    &:hover {
      transform: translate(0, -15px);

      img {
        box-shadow: 0 0 30px 4px rgba($black, .3);
      }
    }
  }

  @include breakpoint($small-only) {
    &__list {
      //overflow: hidden;
      width: 100%;
      display: block;
    }
  }

  @include breakpoint($medium-only) {
    &__list {
      margin-left: -30px;
      margin-right: -30px;
      padding: 44px 0 0;
    }
  }

  @include breakpoint($large-up) {
    &__list {
      margin-left: -27px;
      margin-right: -27px;
      padding: 44px 27px 0;
    }
  }
}