.sc-pageof {
  background-color: $blue-light;
  color: $white;
  display: none;
  font-size: 1.8rem;
  left: 35px;
  padding: 35px 5px 21px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 54px;

  @include breakpoint($xlarge-up) {
    display: block;
  }
}

.sc-checkbox {
  display: none;
}

.sc-checkbox-label {
  align-items: center;
  border: 1px solid $gray-light;
  color: $gray-sixth;
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
  height: 100%;
  justify-content: flex-start;
  padding: 18px 10px 16px 63px;
  position: relative;
  transition: all .7s ease;

  span {
    display: inline-block;
    flex: 0 1 auto;
  }

  .help {
    flex: 0 0 20px;
  }

  &:not(.is-default):hover {
    background-color: $blue-light;
    color: $white;

    &::after {
      border-color: darken($blue-light, 7);
    }

    &::before {
      animation: active-option 1s linear;
      background-color: $green;
      border-color: $green;
    }
  }

  &.is-default {
    background-color: $gray;
    color: $black-second;

    &::before {
      background-color: $gray-second;
    }
  }

  :checked + & {
    background-color: $gray;
    color: $black-second;

    &::before {
      animation: active-option 1s linear;
      background-color: $green;
      border-color: $green;
    }
  }

  &::before {
    background: no-repeat center center;
    border: 1px solid $gray-light;
    border-radius: 12px;
    content: '';
    display: block;
    height: 24px;
    left: 12px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: all .7s ease;
    width: 24px;
  }

  &::after {
    border-left: 1px solid $gray-light;
    content: ' ';
    height: 100%;
    left: 47px;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

.help {
  background-color: $white;
  border: 1px solid $blue-light;
  border-radius: 10px;
  color: $blue-light;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
  margin-left: 9px;
  text-align: center;
  transition: all .4s ease;
  width: 20px;

  &:hover {
    background-color: $blue-dark;
    box-shadow: 0 0 0 4px rgba($blue-light-second, .2);
    color: $white;
  }
}

.sc-next,
.sc-send {
  margin: 15px 0;;
}

.sc-next {
  &::after {
    color: transparent;
    content: '.';
    display: inline-block;
    height: height('ico.next.svg');
    margin-left: 13px;
    margin-right: -16px;
    width: width('ico.next.svg');
  }
}

.sc-send {
  &::before {
    color: transparent;
    content: '.';
    display: inline-block;
    height: height('ico.ok.svg');
    margin-left: -23px;
    margin-right: 13px;
    width: width('ico.ok.svg');
  }
}

@include breakpoint($xlarge-up) {
  .sc-next,
  .sc-send {
    margin-top: 50px;
  }
}

@keyframes active-option {
  0% {
    box-shadow: 0 0 0 0 rgba($green, 0),
    0 0 0 rgba($green, 0);
  }
  10% {
    box-shadow: 0 0 0 0 rgba($green, 1),
    0 0 0 1px rgba($green, .7);
  }
  20% {
    box-shadow: 0 0 0 1px rgba($green, 1),
    0 0 0 1px rgba($green, .7);
  }
  30% {
    box-shadow: 0 0 0 1px rgba($green, 1),
    0 0 0 2px rgba($green, .7);
  }
  40% {
    box-shadow: 0 0 0 2px rgba($green, 1),
    0 0 0 3px rgba($green, .7);
  }
  50% {
    box-shadow: 0 0 0 4px rgba($green, 1),
    0 0 0 4px rgba($green, .7);
  }
  55% {
    box-shadow: 0 0 0 0 rgba($green, 0),
    0 0 0 0 rgba($green, 0);
  }
}