.sc {
  &__navigate {
    display: flex;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
  }

  &__navigate-bg {
    background-color: $blue-light;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform .6s ease-in;
    width: (100% / 3);
    z-index: 21;
  }

  &__navigate-step {
    align-items: center;
    background-color: rgba($white, 0);
    border: 1px dashed $gray-light;
    color: $gray-sixth;
    cursor: pointer;
    display: flex;
    flex: 0 0 (100% / 3);
    font-weight: 300;
    justify-content: center;
    max-width: (100% / 3);
    padding: 19px 20px 18px;
    position: relative;
    text-align: center;
    transition: background .1s linear 0s, color .4s ease .2s, border .5s ease .5s;
    z-index: 25;

    &::before {
      background: transparent center center no-repeat;
      content: '';
      display: inline-block;
      flex: 0 0 width('ico.sc.ok.png');
      height: height('ico.sc.ok.png');
      left: 2%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      transition: opacity .3s ease;
      width: width('ico.sc.ok.png');
    }

    &:not(.is-active) {
      &::before {
        animation: show-ok .4s linear;
        opacity: 1;
      }
    }

    &.is-active {
      border: 1px solid transparent;
      color: $white;
    }
  }
  &__navigate-step:nth-of-type(1).is-active ~ &__navigate-bg {
    transform: translate(0, ((100% / 3 ) * 0));
  }

  &__navigate-step:nth-of-type(2).is-active ~ &__navigate-bg {
    transform: translate(0, ((100% / 3) * 1));
  }

  &__navigate-step:nth-of-type(3).is-active ~ &__navigate-bg {
    transform: translate(0, ((100% / 3) * 2));
  }

  @include breakpoint($small-only) {
    &__navigate-bg {
      width: 100%;
    }

    &__navigate {
      flex-wrap: wrap;
    }

    &__navigate-step {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }

  @include breakpoint($medium-up) {
    &__navigate-step:nth-of-type(1).is-active ~ &__navigate-bg {
      transform: translate(((100%) * 0), 0);
    }

    &__navigate-step:nth-of-type(2).is-active ~ &__navigate-bg {
      transform: translate(((100%) * 1), 0);
    }

    &__navigate-step:nth-of-type(3).is-active ~ &__navigate-bg {
      transform: translate(((100%) * 2), 0);
    }
  }

  &__navigate-step.is-active ~ &__navigate-step {
    background-color: $gray;
    transition: background .1s linear .7s, color .4s ease .2s, border .5s ease .5s;
    &::before {
      opacity: 0;
    }
  }
}

@keyframes show-ok {
  from {
    transform: scale(0) translate(0, -50%);
  }
  to {
    transform: scale(1) translate(0, -50%);

  }
}