.sc {

  /* steps */
  &__step {

    display: none;

    &.is-active {
      animation: fade-in .4s ease;
      display: block;
    }
  }

  &__step-title {
    margin-bottom: 17px;
  }

  &__prev-step-result {
    align-items: center;
    border-bottom: 1px dashed $gray-light;
    display: flex;
    margin-bottom: 40px;
    padding-bottom: 34px;

    @include breakpoint($small-only) {
      flex-wrap: wrap;
    }
  }

  &__result-step-img {
    flex: 0 0 105px;
    margin: 0 20px 0 30px;
  }

  &__result-step-text {
    flex: 1 1 0%;
    @include breakpoint($small-only) {
      flex-basis: 100%;
    }
  }

  &__result-name {
    color: $black-third;
    font-weight: 300;
    margin-bottom: 7px;
  }

  &__result-desc {
    color: $gray-second;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.62;
    opacity: .87;
  }

  /* brief  */

  &__brief {

  }

  &__brief-top {
    display: flex;
    @include breakpoint($small-only) {
      flex-wrap: wrap;
    }
  }

  &__brief-top-img {
    flex: 0 0 60px;
    margin-right: 24px;
  }

  &__brief-top-text {
    flex: 1;
    padding-top: 8px;
  }

  &__brief-top-title {
    margin-bottom: 13px;
  }

  &__brief-add-site {
    color: $blue-light;
    float: right;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.29;
    text-decoration: none;

    span {
      border-bottom: 1px dashed $blue-light;
    }

    &:hover {
      span {
        border-color: transparent;
      }
    }

    @include breakpoint($medium-up) {
      margin-top: -51px;
    }
  }
  
  &__brief-title {
    color: $gray-fifth;
    margin: 32px 0 13px;
  }

  &__brief-contact-title {
    border-bottom: 1px solid $gray-light;
    color: $gray-fifth;
    font-size: 1.8rem;
    margin: 30px 0;
    padding: 0 0 13px;
  }

  &__total-title {
    border-bottom: 1px solid $gray-light;
    color: $gray-fifth;
    font-size: 1.8rem;
    margin: 30px 0;
    padding: 0 0 13px;
  }

  &__total-group-header {
    margin: 30px 0 12px;
  }

  &__total-option {
    background: transparent no-repeat left  center;
    color: $gray-sixth;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1em;
    padding-left: 25px;
  }

  &__total-sizer {
    width: 100%;
  }

  @include breakpoint($medium-up) {
    &__total-sizer,
    &__total-group{
      width: (355 / 778 * 100%);
    }

    &__total-gutter {
      width: (60 / 778 * 100%);
    }
  }
}

[class*='sc__brief-ico-'] {
  background: transparent no-repeat 15px center;
  padding-left: 39px!important;
}

.sc-types {
  input {
    display: none;
  }
  @include breakpoint($medium-up) {
    display: flex;

    .sc__step-title {
      flex: 0 0 160px;
      padding-top: 32px;
    }

    .sc-type {
      flex: 1 1;
    }
  }
}

.sc-type {
  display: block;
  opacity: .5;
  padding-left: (24 * 2px + 34);
  padding-top: 9px;
  position: relative;
  transition: opacity .5s ease-in;

  &::before {
    background: $white;
    //border: 1px solid $grey-four;
    border-radius: 50%;
    box-shadow: 0 0 0 3px $white,
    0 0 0 3px $white,
    0 0 0 4px $grey-four;
    content: '';
    display: inline-block;
    height: 26px;
    left: 24px;
    position: absolute;
    top: 30px;
    transition: background .2s ease .2s, all .4s ease-out;
    width: 26px;

  }
  :checked + & {
    opacity: 1;

    &::before {
      background-color: $blue-light;
      //border: 1px solid $grey-four;
      //border-radius: 50%;
      box-shadow: 0 0 0 0 $blue-light,
      0 0 0 3px $white,
      0 0 0 4px $blue-light;
    }
  }

  &__name {
    color: $black-third;
    font-weight: 300;
    line-height: 1.13;
    margin-bottom: 16px;
    padding: 30px 0 0;
  }

  &__desc {
    color: $gray-second;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.62;
  }
}
