.sc {
  &__parameters {

  }
  &__option-group-header {
    color: $gray-fifth;
    line-height: 1.13;
    margin: 22px 0;
    padding: 0 16px;
  }

  &__option-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__option-group {
    margin-bottom: 10px;
    width: 100%;
  }

  &__option {
    flex: 1 1 100%;
  }

  &__option-sizer {
    width: 100%;
  }

  &__option-gutter {
    width: 0;
  }

  @include breakpoint($medium-up) {
    &__parameters {
      margin: 0 -16px;
    }

    &__option-gutter {
      width: (30 / 814 * 100%);
    }

    &__option-group {
      [data-masonry] & {
        width: (390 / 814 * 100%);
      }
    }

    &__option-sizer {
      width: (390 / 814 * 100%);
    }

    &__option {
      flex: 0 1 (390 / 814 * 100%);
      max-width: (390 / 814 * 100%);

      &:nth-of-type(2n + 1) {
        margin-right: (30 / 814 * 100%);
      }

      [data-masonry] & {
        flex: 1 1 100%;
        margin: 0 !important;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  @include breakpoint($large-up) {
    &__option-group {
      margin-bottom: 28px;
    }
  }
}