@keyframes show-round {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  30% {
    opacity: 1;
    transform: scale(.2);
  }

  100% {
    transform: scale(1);
  }

}

@keyframes rotate-round {
  0%, 30% {
    transform: rotateY(20deg);
  }
  10%, 40% {
    transform: rotateY(360deg);
  }
  20%, 100% {
    transform: rotateY(360deg);
  }
}

@keyframes blink-round-1 {
  2%, 20% {
    background-color: $red;
    background-image: resolve('1_red.png');
    border-color: $red;
    transform: scale(1);
  }
  9%, 17% {
    transform: scale(1.2);
  }
  15% {
    transform: scale(1);
  }
  21% {
    background-color: transparent;
    background-image: resolve('1_grey.png');
    border-color: $grey-four;
    transform: scale(1);
  }
}

@keyframes blink-round-2 {
  2%, 20% {
    background-color: $red;
    background-image: resolve('2_red.png');
    border-color: $red;
    transform: scale(1);
  }
  9%, 17% {
    transform: scale(1.2);
  }
  14% {
    transform: scale(1);
  }
  21% {
    background-color: transparent;
    background-image: resolve('2_grey.png');
    border-color: $grey-four;
    transform: scale(1);
  }
}

@keyframes blink-round-3 {
  2%, 20% {
    background-color: $red;
    background-image: resolve('3_red.png');
    border-color: $red;
    transform: scale(1);
  }
  9%, 17% {
    transform: scale(1.2);
  }
  15% {
    transform: scale(1);
  }
  21% {
    background-color: transparent;
    background-image: resolve('3_grey.png');
    border-color: $grey-four;
    transform: scale(1);
  }
}

@keyframes animate-download {
  0% {
    //background-position: 21px center;
    transform: scale(1);
  }
  40% {
    //background-position: 21px 5px;
    box-shadow: 0 0 25px rgba($green, .6);
    transform: scale(1.2);
  }
  60% {
    //background-position: left 21px bottom 5px;
    transform: scale(1);

  }
  100% {
    //background-position: 21px center;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}