.main-menu__tile {
  &--pd::before {
    background-image: inline('menu-1.png');
  }

  &--adapt::before {
    background-image: inline('menu-2.png');
  }

  &--tp::before {
    background-image: inline('menu-3.png');
  }
}

.aside-menu a::after,
.main-menu__child-link::after {
  background-image: inline('menu.arrow.png');
}

.base-step__part::before {
  background-image: inline('ico.part-arrow.png');
}

.tariff__hour::before {
  background-image: inline('ico.clock.png');
}

.client-report__text {
  background-image: inline('ico.round-2.png');
}

.sc-checkbox-label::before {
  background-image: inline('ico.sc-bulb.png');
}

.sc__navigate-step::before {
  background-image: inline('ico.sc.ok.png');
}

.sc__total-option {
  background-image: inline('ico.sc.brief-ok.png');
}

.sc__brief-ico-name {
  background-image: inline('ico.brief.name.png');
}

.sc__brief-ico-tel {
  background-image: inline('ico.brief.phone.png');
}

.sc__brief-ico-email {
  background-image: inline('ico.brief.email.png');
}

.sc-next::after {
  background-image: inline('ico.next.svg');
}

.sc-send::before {
  background-image: inline('ico.ok.svg');
}

.site-up__worker {
  background-image: inline('ico.site-up.person.png');
}

.site-up__time,
.site-up__total-time {
  background-image: inline('ico.site-up.clock.png');
}

.site-up__dots {
  background-image: inline('site-up.dots.png');
}

.return-link{
  background-image: inline('ico.returnarrow.png');
}