///  Структуру сайта
@import "compass/utilities/general/clearfix";
/// Прижатие подвала н низу страницы

/// inherit box-sizing
html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

html, body {
  min-height:100%;
  height:100%;
  overflow-x: hidden;
  position: relative;

}

body {
  background-color: $white;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  overflow-x: hidden;

  @include breakpoint($large-up) {
    background: $gray;
  }
}


.site-content {
  background: $white;
  flex: 1 0 auto;
  max-width: (814 + 271 + 71) * 1px;

  @include breakpoint($large-up) {
    padding-left: 271px;
    padding-right: 71px;
    padding-top: 33px;
  }
}
.inner {
  margin: 0 auto;
  max-width: $inner-max-width;
  padding: 0 14px;
  width: 100%;

  @include breakpoint($medium-up) {
    padding: 0 30px;
  }

  @include breakpoint($large-up) {
    padding: 0 20px;
  }
}