html {
  font-size: 62.5%;
}

body {
  font-family: $font-fs;
  font-size: 1.6rem;

  @include breakpoint($small-only) {
    //font-size: 1.4rem;
  }
}

a:link {
  a
  &:hover {
    text-decoration: none;
  }
}

input[type=submit] {
  cursor: pointer;
}

p {
  color: $black-light;
  font-weight: 300;
  line-height: 1.63;
  margin-bottom: 1em;
}

h1,
.like-h1 {
  color: $gray-fifth;
  font-family: $font-fm;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 -14px 0;
  padding: 18px 14px;

  @include breakpoint($small-only) {
    letter-spacing: -1px;
  }

  @include breakpoint($medium-up) {
    font-size: 4rem;
    margin: 0 -30px;
    padding: 18px 30px;
  }

  @include breakpoint($large-up) {
    margin: 0 -20px;
    padding: 18px 20px;

    &:first-child {
      margin-top: 38px;
    }
  }

  + hr {
    margin-top: 0;
  }
}

h2,
.like-h2 {
  font-size: 2.4rem;
  margin: (50em / 24) 0 (38em / 24);
}

h3,
.like-h3 {
  font-size: 2.2rem;
  margin: (40em / 24) 0 (22em / 24);
  margin-bottom: (22em / 24);

  @include breakpoint($small-only) {
    font-size: 1.8rem;
  }
}

ul {
  list-style: disc;
  margin-left: 2em;
}

ol {
  list-style: decimal;
  margin-left: 2em;
}

.site-content ul {
  margin-bottom: 1em;
}

.site-content li {
  color: $black-light;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  list-style: none;
  margin-bottom: 1em;
  position: relative;

  &::before {
    border: 1px solid $blue-light;
    content: '';
    height: 2px;
    left: -26px;
    position: absolute;
    top: 7px;
    width: 17px;
  }
}

img {
  max-width: 100%;
}

b, strong {
  font-weight: bold;
}

.tips {
  color: rgba($grey-four, .7);
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.27;
  margin: 18px 0;
  text-transform: uppercase;
}

hr {
  background-color: $gray-light;
  border: 0;
  height: 1px;
  margin: 10px -20px;

  @include breakpoint($medium-up) {
    margin: 15px -20px;
  }

  @include breakpoint($large-up) {
    margin: 35px -20px;
  }
}

i {
  font-style: italic;
}

.imp {
  color: $blue-light;
}

.text {
  &--uppercase {
    text-transform: uppercase;
  }

  &--xsmall {
    font-size: 1.2rem;
    line-height: 1.1;
  }

  &--small {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

.return-link {
  background: no-repeat left 1px;
  color: $gray-sixth;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1;
  padding-left: 19px;
  text-decoration: none;
  transition: transform .4s ease-in;

  &:hover {
    transform: translate(-5px, 0);
  }
}
