.adaptive-header {
  display: flex;
  &__left {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px 0 17px;
  }

  &__right {
    padding-bottom: 26px;
  }

  @include breakpoint($small-only) {
    flex-direction: column;

    .tips {
      text-align: center;
    }
  }

  @include breakpoint($medium-up) {
    &__left {
      align-items: flex-start;
      flex: 0 0 275px;
      justify-content: flex-start;
    }

    &__right {
      flex: 1 0 432px;
    }
  }
}

.adaptive-goals {
  display: flex;
  margin: 0 0 40px;

  @include breakpoint($medium-up) {
    margin: 0 -10px 62px;
  }

  &__title {
    color: $grey-four;
    font-family: $font-fm;
    font-size: 1.8rem;
    margin-bottom: (16em / 18);
  }

  &__col-1 {
    text-align: right;
  }

  &__col-2 {
    align-self: center;
    flex: 0 0 307px;
    margin: 0 17px;
    max-width: 320px;
    padding: 0 30px;
    position: relative;

    &:after {
      background: $blue-light;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      margin-top: -.5px;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 10;
    }
  }

  @include breakpoint($small-only) {
    flex-wrap: wrap;

    &__col-1,
    &__col-2,
    &__col-3 {
      flex: 1 0 100%;
    }

    &__col-2 {
      margin: 30px auto;
      padding: 0 30px;
    }
  }

  &__question {
    align-items: center;
    border: 1px solid $blue-light;
    color: $blue-light;
    display: flex;
    font-size: 1.8rem;
    font-weight: 300;
    height: 106px;
    justify-content: center;
    line-height: 1.22;
    text-align: center;
    width: 100%;
    z-index: 20;

    &::before,
    &::after {
      background-color: $white;
      border: 1px solid $blue-light;
      border-radius: 50%;
      content: '';
      display: block;
      height: 10px;
      margin-top: -5px;
      position: absolute;
      top: 50%;
      width: 10px;
      z-index: 21;
    }

    &::before {
      left: 0px;
    }

    &::after {
      right: 0px;
    }
  }

  &__question-content {
    background-color: $white;
    position: relative;
    width: 100%;
    z-index: 30;
  }

  &__col-3 {

  }

  p {
    color: $gray-sixth;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
  }

}

.adaptive-detail-goal {
  color: $black-light;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.63;

  b {
    color: $grey-four;
    font-family: $font-fm;
    font-size: 1.8rem;
    line-height: 1.33;
  }

  &__item {
    margin-bottom: 48px;
    padding-left: 70px;
    position: relative;

    @include breakpoint($medium-up) {
      padding-left: 55px;
    }
  }

  &__count {
    background-color: $grey-four;
    border-radius: 50%;
    color: $white;
    font-family: $font-os;
    font-size: 1.8rem;
    font-weight: bold;
    height: 36px;
    left: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 36px;
  }
}

.adaptive-example {
  margin: 45px -10px;
  text-align: center;

  &__title {
    color: $grey-four;
    font-size: 1.8rem;
    margin-bottom: 23px;

    @include breakpoint($small-only) {
      font-size: 1.4rem;
    }
  }
}

.adaptive-total {
  color: $grey-four;
  font-weight: 300;
  line-height: 1.63;

  margin: 40px 0;
  text-align: center;

  @include breakpoint($medium-up) {
    padding: 0 40px;
  }

  @include breakpoint($large-up) {
    padding: 0 80px;
  }

}

