.client-tariffs {
  background-color: $gray;
  border: 1px solid $gray-light;
  border-radius: 3px;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 40px;
  padding: 20px;

  @include breakpoint($small-only) {
    flex-wrap: wrap;
  }
}

.tariff {
  background-color: $white;
  border: 1px dashed $blue-light;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba($black, .05);
  flex: 1 1 100%;
  margin-bottom: 10px;

  padding: 23px 10px;
  text-align: center;

  @include breakpoint($medium-up) {
    flex: 1 1 (100% / 3);
    margin-bottom: 0;

    &:not(:first-child) {
      margin-left: 18px;
    }
  }

  &__title {
    color: $blue-light;
    font-weight: 300;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__hour {
    align-items: center;
    color: $blue-light;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    line-height: 30px;
    margin-bottom: 9px;

    &::before {
      background: no-repeat center center;
      content: ' ';
      display: inline-block;
      height: 30px;
      margin-right: 9px;
      width: 27px;
    }
  }

  &__text {
    color: $black-third;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.08;
    text-transform: uppercase;
  }
}

.work-list {
  background-color: $gray;
  border: 1px solid $gray-light;
  margin: 0 0 49px;

  &__item {
    padding: 20px 10px 24px;
    text-align: center;

    @include breakpoint($small-only) {
      &:not(:nth-of-type(2n + 1)) {
        border-left: 1px solid $gray-light;
      }

      &:nth-of-type(n + 2) {
        border-top: 1px solid $gray-light;
      }
    }

    @include breakpoint($medium-up) {
      padding: 41px 10px 54px;

      &:not(:nth-of-type(3n + 1)) {
        border-left: 1px solid $gray-light;
      }

      &:nth-of-type(n + 3) {
        border-top: 1px solid $gray-light;
      }
    }
  }

  &__item-title {
    color: $grey-four;
    font-weight: 500;
    line-height: 1.13;
    margin: 22px 0 16px;
  }

  &__item-text {
    color: $gray-sixth;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.38;
  }
}

.client-promo {
  //background: resolve('client-01.png') no-repeat right bottom;
  //background-size: contain;
  padding: 0 0 40px;

  &__text {
    //padding-right: 40px;
  }

  &__img {
    text-align: center;
  }

  @include breakpoint($medium-up) {
    display: flex;

    &__text {
      //padding-right: 40px;
      flex: 0 1 (280 / 780 * 100%);
      min-width: 260px;
    }

    &__img {
      align-items: flex-end;
      //flex: 0 1 (500 / 780 * 100%);
      display: flex;
      flex: 1 1;
      justify-content: flex-end;
      margin: 0 0 0 -40px;
      text-align: right;
    }
  }

  @include breakpoint($large-up) {
    padding-left: 35px;
  }
}

.client-report {
  align-items: center;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 0 7.3px 1px rgba($black, .14);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.13;
  margin-bottom: 55px;
  padding: 15px;

  &__text {
    background: no-repeat left center;
    flex: 1 1 100%;
    padding: 5px 15px 5px 45px;
  }

  .btn--white {
    min-width: 175px;
  }

  @include breakpoint($medium-up) {
    flex-wrap: nowrap;
    padding: 15px 50px 15px 40px;

    .btn--white {
      margin-left: 60px;
    }
  }
}