.document-table {
  margin: 0 -20px 75px;

  &__header {
    border-bottom: 1px solid $gray-second;
    color: $black-four;
    display: flex;
    font-family: $font-fm;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;

    @include breakpoint($small-only) {
      display: none;
    }
  }

  &__row {
    border-bottom: 1px solid $gray-second;
    color: $grey-four;
    display: flex;
    font-weight: 300;
    line-height: 1.5;
    padding: 23px 20px;
  }

  &__label {
    flex: 0 0 35%;
    max-width: 35%;
    padding-right: 20px;
  }

  &__links {
    flex: 1 0 60%;
  }

  @include breakpoint($small-only) {
    &__row {
      flex-direction: column;
    }

    &__label {
      flex-basis: auto;
      max-width: 100%;
      padding: 0 0 20px;
    }

    &__links {
      flex-basis: auto;
    }
  }

  @include breakpoint($xlarge-up) {
    &__label {
      flex: 0 0 269px;
      max-width: 269px;
      padding-right: 40px;
    }

    &__links {
      display: flex;
      flex: 1 0 auto;
      justify-content: space-between;

      > * {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}