.faq {
  border-top: 1px solid $gray-light;
  margin: 26px 0 50px;

  &__item {
    border-bottom: 1px solid $gray-light;
    margin: 0 -20px;
    padding: 0 20px;

  }

  &__item-heading {
    color: $gray-fifth;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 24px 50px 24px 0;
    position: relative;
    transition: color .2s ease;

    &::before,
    &::after {
      background-color: $gray-fifth;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      right: 33px;
      top: 50%;
      width: 16px;
    }

    @include breakpoint($small-only) {
      &::before,
      &::after {
        right: 16px;
      }
    }

    &::before {
      transform: translate(0, -50%);
      transition: background .2s ease-in;
    }

    &::after {
      transform: translate(0, -50%) rotate(-90deg);
      transform-origin: 50% 1px;
      transition: all .2s ease-in;
    }

    .is-open &::after {
      transform: translate(0, -50%) rotate(0deg);
    }

    &:hover {
      color: $blue-light;
      text-decoration: underline;

      &::before,
      &::after {
        background-color: $blue-light;
      }
    }
  }

  &__item-content {
    display: none;
    padding-bottom: 24px;

    .is-open & {
      animation: fade-in .3s ease-in;
      display: block;
    }
  }

  &--type-2 {
    padding-top: 16px;
  }

  &--type-2 &__item {
    border-bottom: 0;
  }

  &--type-2 &__item-heading {
    padding: 12px 10px 12px 30px;

    &::before,
    &::after {
      left: 0;
      right: auto;
    }
  }

  &--type-2 &__item-content {
    padding-bottom: 0;
  }
}
