.portfolio {
  margin-top: 50px;
  //margin: 50px -40px 20px;

  @include breakpoint($large-up) {
    margin: 50px -40px 20px;
  }

  .col-md-6 {
    padding: 0 20px;
  }

  &__item {
    background-color: $gray-seven;
    box-shadow: 0 0 39px 4px rgba($black, .05);
    color: $grey-four;
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px;
    max-width: 390px;
    text-decoration: none;

    &:hover {
      animation: portfolio-hover .5s ease;
      box-shadow: 0 15px 17px 3px rgba($black, .2);
      color: $blue-light;
      text-decoration: underline;
      transform: translate(0, -10px);
    }
  }

  &__item-img {
    padding: 42px 10px 0;
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__item-title {
    align-items: center;
    background: $white;
    display: flex;
    flex: 0 0 72px;
    font-weight: 300;
    line-height: 1.13;
    padding: 10px 19px;
  }

  &__footer {
    margin-top: 27px;
    margin-bottom: 80px;
  }
}

.portfolio-img {
  box-shadow: 0 0 40px rgba(137, 138, 153, .14);
  margin-bottom: 49px;
}

.portfolio-more {
  position: relative;

  &::before {
    background-color: $gray-light;
    content: '';
    display: block;
    height: 1px;

    @include breakpoint($large-up) {
      margin: 0 -20px;
    }
  }

  &__title {
    color: $black-second;
    font-size: 2.6rem;
    margin-bottom: -50px;
    padding: 34px 0;

  }
}

@keyframes portfolio-hover {
  0% {
    box-shadow: 0 0 42px 9px rgba($black, .05);
  }
  40% {
    box-shadow: 0 8px 20px 0 rgba($black, .5);
  }
  100% {
    box-shadow: 0 15px 17px 3px rgba($black, .2);
  }
}
