.site-up {
  margin: 20px 0;

  &__stage,
  &__total {
    display: flex;
    font-weight: 300;
  }

  &__left,
  &__total-left {
    display: flex;
    flex: 0 0 110px;
    flex-direction: column;
    margin-right: 12px;
    width: 110px;
  }

  &__right,
  &__total-right {
    flex: 1 1;
    padding-bottom: 30px;
  }

  &__ico {
    background: $white;
    border: 1px solid $blue-light;
    border-radius: 50%;
    display: inline-block;
    flex: 0 0 auto;
    padding: 8px;

    svg {
      display: block;
    }
  }
  &__dots {
    background-position: center top;
    background-repeat: repeat-y;
    flex: 1 1;
    margin: 5px 0;
  }

  &__stage-name {
    margin: 8px 0 11px;
    text-align: center;
  }

  &__title {
    border-bottom: 1px solid $gray-ten;
    color: $black-four;
    font-size: 2.2rem;
    line-height: 1.2;
    margin: 26px 0 0;
    padding: 0 20px 16px;
  }

  &__row {
    align-items: center;
    border-bottom: 1px solid $gray-ten;
    display: flex;
    justify-content: space-between;
    padding: 18px 0 16px 20px;
    text-align: left;

    @include breakpoint($small-only) {
      flex-wrap: wrap;
    }
  }

  &__part {
    flex: 1 0;
  }

  &__worker {
    background: transparent no-repeat left center;
    color: $gray-sixth;
    flex: 0 0 200px;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
    line-height: 1.71;
    margin-left: 10px;
    max-width: 200px;
    padding-left: 31px;
  }

  &__time {
    background: transparent no-repeat 2px center;
    color: $gray-sixth;
    flex: 0 0 95px;
    max-width: 95px;
    padding-left: 35px;
  }

  &__total {
    margin-top: -50px;
  }

  &__total-text {
    color: $gray-fifth;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.33;
    padding: 50px 0 0 20px;
  }

  &__total-time {
    background: no-repeat left center;
    display: inline-block;
    font-weight: bold;
    margin-left: 7px;
    padding-left: 25px;
  }

  @include breakpoint($small-only) {
    &__stage {
      flex-wrap: wrap;
    }

    &__total {
      margin-top: 0;
    }

    &__left {
      flex-direction: row;
    }

    &__left,
    &__right {
      flex: 1 0 100%;
    }

    &__row {
      flex-wrap: wrap;
    }

    &__stage-name {
      align-self: center;
      margin: 0 20px;
    }

    &__dots {
      background-position: left center;
      background-repeat: repeat-x;
    }

    &__part,
    &__time,
    &__worker {
      flex: 1 1 100%;
      margin: 10px 0;
      max-width: 100%;
    }
  }
}