.progress-bar {
  background-color: $gray-light;
  border-radius: 2px;
  height: 4px;
  margin: 14px 0 12px;
  position: relative;

  &__t {
    background-color: $red;
    border-radius: 2px;
    height: 4px;
    max-width: 0;
    transition: all .5s ease-in;
  }

  &[data-progress^='5'] &__t,
  &[data-progress^='6'] &__t,
  &[data-progress^='7'] &__t {
    background-color: $yellow;
  }

  &[data-progress^='8'] &__t,
  &[data-progress^='9'] &__t,
  &[data-progress^='100'] &__t {
    background-color: $green;
  }
}

label {
  cursor: pointer;
}

textarea {
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: 3px;
  font-family: $font-fs;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.13;
  margin-bottom: 19px;
  outline: none;
  overflow: auto;
  padding: 13px 16px;
  resize: none;
  transition: all .4s ease;
  width: 100%;

  &:focus {
    border-color: rgba($red, .5);
    box-shadow: inset 0 0 5px 1px rgba($red, .5);
  }
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'] {
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: 3px;
  font-family: $font-fs;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 19px;
  outline: none;
  padding: 13px 16px;
  resize: none;
  transition: all .4s ease;
  width: 100%;

  &:focus {
    border-color: rgba($red, .5);
    box-shadow: inset 0 0 5px 1px rgba($red, .5);
  }
}

.round-progress-bar {
  height: 70px;
  position: relative;
  width: 70px;
  overflow: hidden;

  circle {
    transition: stroke-dashoffset 1s linear, stroke 1s linear;
    stroke: #e0bfb8;
    stroke-dashoffset: 0;
    stroke-width: 7px;
  }

  .bar {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: #df6c4f;

  }

  &[data-theme='yellow'] {
    circle {
      stroke: #e4ddc1;
    }

    .bar {
      stroke: #ecd06f;
    }
  }

  &[data-theme='green'] {
    circle {
      stroke: #b0cbc9;
    }

    .bar {
      stroke: #3c948b;
    }
  }

  &__value {
    color: $gray-eight;
    font-size: 2.4rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 300;
  }
}
