@mixin align($br) {
  .start-#{$br} {
    justify-content: flex-start;
  }

  .center-#{$br} {
    justify-content: center;
  }

  .end-#{$br} {
    justify-content: flex-end;
  }

  .top-#{$br} {
    align-items: flex-start;
  }

  .middle-#{$br} {
    align-items: center;
  }

  .bottom-#{$br} {
    align-items: flex-end;
  }
}

[class*='col-'] {
  flex: 0 1 auto;
}

$col-count: 12;
$col-gutter: 20;
$half-gutter: $col-gutter / 2;

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$half-gutter * 1px);
}

@for $i from 1 through $col-count {
  .col-xs-#{$i} {
    flex-basis: ($i / $col-count * 100%);
    padding: 0 $half-gutter * 1px;
    max-width: $i / $col-count * 100%;
  }

  .col-xs-offset-#{$i} {
    margin-left: ($i / $col-count * 100%);
  }
}

@include align('xs');
@include breakpoint($small-only) {
  .hide-xs {
    display: none;
  }
}

@include breakpoint($small-up) {
  @for $i from 1 through $col-count {
    .col-sm-#{$i} {
      flex-basis: ($i / $col-count * 100%);
      padding: 0 $half-gutter * 1px;
      max-width: $i / $col-count * 100%;
    }

    .col-sm-offset-#{$i} {
      margin-left: ($i / $col-count * 100%);
    }
  }

  @include align('sm');
}

@include breakpoint($medium-up) {
  @for $i from 1 through $col-count {
    .col-md-#{$i} {
      flex-basis: ($i / $col-count * 100%);
      padding: 0 $half-gutter * 1px;
      max-width: $i / $col-count * 100%;
    }

    .col-md-offset-#{$i} {
      margin-left: ($i / $col-count * 100%);
    }
  }

  @include align('md');
}

@include breakpoint($large-up) {
  @for $i from 1 through $col-count {
    .col-lg-#{$i} {
      flex-basis: ($i / $col-count * 100%);
      padding: 0 $half-gutter * 1px;
      max-width: $i / $col-count * 100%;
    }

    .col-lg-offset-#{$i} {
      margin-left: ($i / $col-count * 100%);
    }
  }
  @include align('lg');
}





