.site-header {
  background: $red;
  margin-bottom: 40px;
  position: relative;
  z-index: $z-header;

  @include breakpoint($medium-only) {
    flex: 0 0 auto;
  }

  &__top {
    align-items: center;
    background: $red;
    display: flex;
    height: 105px;
    justify-content: center;
    position: relative;
    z-index: $z-header + 10;
  }

  &__logo {
    flex: 0 0 104px;
    padding: 17px 0 21px;

    img {
      max-width: 100%;
    }

    @include breakpoint($medium-only) {
      flex: 0 0 141px;
      height: 91px;
      padding: 14px 0 19px;
      width: 141px;
    }
  }

  @include breakpoint($medium-only) {
    &__top {
      height: 124px;
    }

    &__logo {
      flex: 0 0 141px;
      height: 91px;
      padding: 0;
      width: 141px;
    }
  }

  &__menu-wrapper {
    background: $red;
    box-shadow: 0 1px 21px rgba($black, .5);
    width: 100%;
    z-index: $z-header - 10;

    @include breakpoint($medium-down) {
      left: 0;
      position: absolute;
      //top: 100%;
    }

    @include breakpoint($large-up) {
      display: block !important;
    }
  }

  @include breakpoint($large-up) {
    bottom: 0;
    left: 0;
    margin: 0;
    // TODO: custom scroll
    //overflow-y: auto;
    position: fixed;
    top: 0;
    width: 200px;

    &__top {
      height: 163px;
    }

    &__logo {
      flex: 0 0 163px;
      height: auto;
      padding: 36px 0;
      text-align: center;
      width: 141px;
    }

    &__menu-wrapper {
      box-shadow: none;
    }
  }
}

.humburger {
  color: rgba($white, .89);
  display: block;
  font-family: $font-fm;
  font-size: 1.3rem;
  height: 16px;
  left: 37px;
  line-height: 16px;
  position: absolute;
  text-decoration: none;
  text-indent: -9999px;
  text-transform: uppercase;
  transition: all .5s ease;
  top: 50%;
  transform: translate(0, -50%);
  width: 21px;

  @include breakpoint($medium-only) {
    padding-left: 27px;
  }

  &::before {
    background-color: $white;
    box-shadow: 0 7px 0 0 $white;
    content: ' ';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: 1px 1px;
    transition: all .2s ease-in;
    width: 21px;
  }

  &::after {
    background-color: $white;
    bottom: 0;
    content: ' ';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: 1px 1px;
    transition: all .2s ease-in;
    width: 21px;

  }

  &.is-open {
    @include breakpoint($medium-only) {
      text-indent: 0;
    }

    &::before {
      box-shadow: none;
      transform: rotate(45deg) translate(2px, -2px);
    }

    &::after {
      transform: rotate(-45deg) translate(2px, 2px);
    }
  }

  @include breakpoint($large-up) {
    display: none;
  }
}

.js-main-menu {
  display: none;

  &.is-open {
    animation: fade-in .4s ease-out;
    display: block;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}