/// color set
$gray: #f7f7f7;
$red: #ed2c2d;
$black: #000;
$blue-light: #2ab0e5;
$blue-light-second: #b0e6fb;
$blue-dark: #008ac1;
$black-light: #444;
$gray-light: #e9e9e9;
$black-second: #222;
$gray-second: #d6d6d6;
$white: #fff;
$black-third: #474747;
$grey-four: #333;
$gray-fifth: #323232;
$red-second: #fb5858;
$gray-sixth: #666;
$gray-seven: #eaeff2;
$gray-eight: #363636;
$gray-ten: #d1dee7;
$black-four: #1a2329;
$green: #3ac575;
$yellow: #ffc013;
/// btn
$color: #a09d9d;

/// fonts
@import 'https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:300,300i,400,400i,500,700|Open+Sans:300,700&subset=cyrillic';

$font-os: 'Open Sans', sans-serif;
$font-fs: 'Fira Sans', sans-serif;
$font-fm: 'Fira Mono', monospac;