extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Базовая поддержка
  block content-top
    h1 Базовая поддержка
    hr
    p
      | Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability
      | аспектов в определенной тематике под «свою» целевую аудиторию. Выполнение данных условий необходимо для полноценного ранжирования в поисковых системах и наибольшей конверсии.
  block content-aside
    .aside
      .aside__section
        .aside__header Средняя стоимость:
        .aside__price
          .price от 10 000 руб.
      .aside__section
        .aside__header Скачать:
        .aside__doc-list.doc-list
          a.doc-list__item.doc-list__item--round(href='#')
            span test
          a.doc-list__item.doc-list__item--pc(href='#')
            span Документы
          a.doc-list__item.doc-list__item--doc(href='#')
            span  Договор
  block content
    .base-map
      | <svg id="SvgjsSvg1117" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
      |      xmlns:svgjs="http://svgjs.com/svgjs" height='0' width='0'>
      |     <defs>
      |         <clipPath id="SvgjsClipPath1125">
      |             <path id="SvgjsPath1124"
      |                   d="M776.5 407C781.194 407 785 410.806 785 415.5C785 420.194 781.194 424 776.5 424C771.806 424 768 420.194 768 415.5C768 410.806 771.806 407 776.5 407Z "
      |                   fill="#ffffff"></path>
      |         </clipPath>
      |         <linearGradient id="basemap-grad" x1="0%" y1="0%" x2="0%" y2="100%">
      |             <stop offset="0%" style="stop-color:#c2e0f4;stop-opacity:1"/>
      |             <stop offset="100%" style="stop-color:#389bdc;stop-opacity:1"/>
      |         </linearGradient>
      |     <symbol id="map-bulb">
      |         <path d="M776 407L776 388L777 388L777 407Z "  fill="url(#basemap-grad)"
      |               clip-path="url(&quot;#SvgjsClipPath1121&quot;)" transform="matrix(1,0,0,1,-768,-388)"></path>
      |         <path
      |                 d="M776.5 407C781.194 407 785 410.806 785 415.5C785 420.194 781.194 424 776.5 424C771.806 424 768 420.194 768 415.5C768 410.806 771.806 407 776.5 407Z "
      |                 fill-opacity="1" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt"
      |                 stroke-opacity="1" stroke="#2ab0e5" stroke-miterlimit="50" stroke-width="2"
      |                 clip-path="url(&quot;#SvgjsClipPath1125&quot;)" transform="matrix(1,0,0,1,-768,-388)"></path>
      |     </symbol>
      |     <symbol id='path-lg'>
      |<path
      |d="M979 415L1025 415C1025 415 1066 415.546 1066 374C1066 332.453 1025 334 1025 334L697 334L332 334C332 334 289 332.257 289 374C289 415.742 332 414 332 414L391 414 "
      |fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt"
      |stroke-opacity="1" stroke="url(#basemap-grad)" stroke-miterlimit="50" stroke-width="1"
      |transform="matrix(1,0,0,1,-288.5,-332.5)" > < / path >
      |</symbol>
      |     </defs>
      | </svg>
      | <svg class="base-map__path-lg base-map__path-lg--left" viewBox="0 0 100% 83"><use xlink:href="#path-lg"></use></svg>
      | <svg class="base-map__path-lg base-map__path-lg--right" viewBox="0 0 100% 83"><use xlink:href="#path-lg" transform="rotate( -180 -180)"></use></svg>
      .base-map__step.base-map__step-01
        .base-map__step-ico
          | <svg class="base-map__ico base-map__ico-01" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="92" height="92"><defs id="SvgjsDefs1092"><clipPath id="SvgjsClipPath1096"><path id="SvgjsPath1095" d="M393 287C418.405 287 439 307.595 439 333C439 358.405 418.405 379 393 379C367.595 379 347 358.405 347 333C347 307.595 367.595 287 393 287Z " fill="#ffffff"></path></clipPath></defs><path id="SvgjsPath1093" d="M393 287C418.405 287 439 307.595 439 333C439 358.405 418.405 379 393 379C367.595 379 347 358.405 347 333C347 307.595 367.595 287 393 287Z " fill="#ffffff" transform="matrix(1,0,0,1,-347,-287)"></path><path id="SvgjsPath1094" d="M393 287C418.405 287 439 307.595 439 333C439 358.405 418.405 379 393 379C367.595 379 347 358.405 347 333C347 307.595 367.595 287 393 287Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#2ab0e5" stroke-miterlimit="50" stroke-width="2" clip-path="url(&quot;#SvgjsClipPath1096&quot;)" transform="matrix(1,0,0,1,-347,-287)"></path><path id="SvgjsPath1097" d="M415.266 312.999L370.73400000000004 312.999C370.32800000000003 312.999 370.00000000000006 313.32300000000004 370.00000000000006 313.723L370.00000000000006 353.276C370.00000000000006 353.676 370.32800000000003 354 370.73400000000004 354L415.266 354C415.671 354 416 353.676 416 353.276L416 345.558C416 345.159 415.671 344.835 415.266 344.835C414.86 344.835 414.53200000000004 345.159 414.53200000000004 345.558L414.53200000000004 352.552L371.468 352.552L371.468 320.235L414.53200000000004 320.235L414.53200000000004 342.664C414.53200000000004 343.06399999999996 414.86 343.388 415.266 343.388C415.671 343.388 416 343.06399999999996 416 342.664L416 313.723C416 313.32300000000004 415.671 312.999 415.266 312.999ZM400.666 342.491C400.261 342.491 399.936 342.81 399.936 343.21L399.936 348.964C399.936 349.364 400.26099999999997 349.684 400.666 349.684L410.889 349.684C411.294 349.684 411.619 349.36400000000003 411.619 348.964L411.619 343.929C411.619 343.529 411.29400000000004 342.491 410.889 342.491L406.50800000000004 342.491L406.50800000000004 338.175C406.50800000000004 337.77500000000003 406.18300000000005 337.455 405.778 337.455L395.555 337.455C395.15000000000003 337.455 394.825 337.775 394.825 338.175C394.825 338.574 395.15 338.894 395.555 338.894L405.047 338.894L405.047 342.491ZM371.468 314.446L398.476 314.43800000000005L398.476 318.754L371.468 318.788ZM399.936 318.754L399.936 314.43800000000005L414.532 314.446L414.532 318.788ZM410.158 348.245L401.397 348.245L401.397 343.92900000000003L410.158 343.92900000000003ZM400.161 327.287C400.161 326.887 399.833 326.56399999999996 399.427 326.56399999999996L386.572 326.56399999999996C386.16700000000003 326.56399999999996 385.838 326.88699999999994 385.838 327.287C385.838 327.68699999999995 386.16700000000003 328.01099999999997 386.572 328.01099999999997L399.427 328.01099999999997C399.833 328.01099999999997 400.161 327.68699999999995 400.161 327.287ZM397.445 330.181C397.445 329.782 397.116 329.45799999999997 396.71 329.45799999999997L389.289 329.45799999999997C388.884 329.45799999999997 388.555 329.782 388.555 330.181C388.555 330.58099999999996 388.884 330.905 389.289 330.905L396.71 330.905C397.116 330.905 397.445 330.58099999999996 397.445 330.181ZM403.325 315.845C402.894 315.845 402.542 316.19100000000003 402.542 316.617C402.542 317.043 402.89399999999995 317.389 403.325 317.389C403.757 317.389 404.108 317.043 404.108 316.617C404.108 316.19100000000003 403.757 315.845 403.325 315.845ZM411.351 315.845C410.919 315.845 410.568 316.19100000000003 410.568 316.617C410.568 317.043 410.919 317.389 411.351 317.389C411.783 317.389 412.134 317.043 412.134 316.617C412.134 316.19100000000003 411.783 315.845 411.351 315.845ZM407.338 315.845C406.906 315.845 406.555 316.19100000000003 406.555 316.617C406.555 317.043 406.906 317.389 407.338 317.389C407.77000000000004 317.389 408.12100000000004 317.043 408.12100000000004 316.617C408.12100000000004 316.19100000000003 407.77000000000004 315.845 407.338 315.845ZM388.254 342.491C387.848 342.491 387.524 342.81 387.524 343.21L387.524 348.964C387.524 349.364 387.848 349.684 388.254 349.684L397.74600000000004 349.684C398.151 349.684 398.47600000000006 349.36400000000003 398.47600000000006 348.964C398.47600000000006 348.964 398.619 343.382 398.47600000000006 343.21C398.35800000000006 342.669 398.1290000000001 342.464 397.74600000000004 342.491L393.365 342.491L393.365 333.859L402.857 333.859C403.262 333.859 403.58700000000005 333.53999999999996 403.58700000000005 333.14L403.58700000000005 323.789C403.58700000000005 323.389 403.26200000000006 323.07 402.857 323.07L383.14300000000003 323.07C382.737 323.07 382.41200000000003 323.389 382.41200000000003 323.789L382.41200000000003 333.14C382.41200000000003 333.53999999999996 382.737 333.859 383.14300000000003 333.859L391.90400000000005 333.859L391.90400000000005 337.455L380.22200000000004 337.455C379.81700000000006 337.455 379.492 337.775 379.492 338.175L379.492 342.491L375.111 342.491C374.705 342.491 374.381 342.81 374.381 343.21L374.381 348.964C374.381 349.364 374.705 349.684 375.111 349.684L385.33299999999997 349.684C385.73799999999994 349.684 386.063 349.36400000000003 386.063 348.964L386.063 343.21C386.063 342.81 385.738 342.491 385.33299999999997 342.491L380.952 342.491L380.952 338.894L391.904 338.894L391.904 342.491ZM383.873 324.508L402.127 324.508L402.127 332.41999999999996L383.873 332.41999999999996ZM384.603 348.245L375.841 348.245L375.841 343.92900000000003L384.603 343.92900000000003ZM397.016 348.245L388.98400000000004 348.245L388.98400000000004 343.92900000000003L397.016 343.92900000000003Z " fill="#2ab0e5" transform="matrix(1,0,0,1,-347,-287)"></path></svg>
        | <svg class="base-map__bulb" viewBox="0 0 17 36" height="36" width="17"><use xlink:href="#map-bulb"></use></svg>
        | <svg class="base-map__arrow" viewBox="0 0 9 16" height="14" width="9"><use xlink:href="/img/template/base.map-bulb.svg#map-arrow"></use></svg>
        .base-map__title
          span 1. Разработка <b>стратегии</b>
      .base-map__step.base-map__step-02
        .base-map__step-ico
          | <svg class="base-map__ico base-map__ico-02" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="92" height="92"><defs id="SvgjsDefs1099"><clipPath id="SvgjsClipPath1103"><path id="SvgjsPath1102" d="M584 287C609.405 287 630 307.595 630 333C630 358.405 609.405 379 584 379C558.595 379 538 358.405 538 333C538 307.595 558.595 287 584 287Z " fill="#ffffff"></path></clipPath></defs><path id="SvgjsPath1100" d="M584 287C609.405 287 630 307.595 630 333C630 358.405 609.405 379 584 379C558.595 379 538 358.405 538 333C538 307.595 558.595 287 584 287Z " fill="#ffffff" transform="matrix(1,0,0,1,-538,-287)"></path><path id="SvgjsPath1101" d="M584 287C609.405 287 630 307.595 630 333C630 358.405 609.405 379 584 379C558.595 379 538 358.405 538 333C538 307.595 558.595 287 584 287Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#2ab0e5" stroke-miterlimit="50" stroke-width="2" clip-path="url(&quot;#SvgjsClipPath1103&quot;)" transform="matrix(1,0,0,1,-538,-287)"></path><path id="SvgjsPath1104" d="M606 333.472C606 331.62399999999997 604.508 330.121 602.675 330.121L594.5409999999999 330.121C595.9759999999999 327.462 596.757 324.15999999999997 596.757 320.68699999999995C596.757 318.84 595.265 317.33599999999996 593.4319999999999 317.33599999999996C591.5989999999999 317.33599999999996 590.1069999999999 318.84 590.1069999999999 320.68699999999995C590.1069999999999 325.88899999999995 585.9079999999999 330.121 580.7459999999999 330.121L575.5939999999998 330.121C575.2349999999998 330.121 574.9439999999998 330.414 574.9439999999998 330.77599999999995L574.9439999999998 352.34499999999997C574.9439999999998 352.70599999999996 575.2349999999999 352.99899999999997 575.5939999999998 352.99899999999997L580.7459999999999 352.99899999999997C581.1049999999999 352.99899999999997 581.3959999999998 352.70599999999996 581.3959999999998 352.34499999999997L581.3959999999998 331.40999999999997C586.9729999999998 331.07 591.4059999999998 326.39099999999996 591.4059999999998 320.68699999999995C591.4059999999998 319.56199999999995 592.3149999999998 318.64599999999996 593.4319999999998 318.64599999999996C594.5489999999998 318.64599999999996 595.4569999999998 319.56199999999995 595.4569999999998 320.68699999999995C595.4569999999998 324.36499999999995 594.5329999999998 327.82099999999997 592.8539999999998 330.41799999999995C592.7239999999998 330.61999999999995 592.7139999999998 330.87699999999995 592.8269999999998 331.08799999999997C592.9409999999998 331.299 593.1599999999997 331.431 593.3989999999998 331.431L602.6749999999997 331.43C603.7919999999997 331.43 604.6999999999997 332.346 604.6999999999997 333.472C604.6999999999997 334.597 603.7919999999997 335.513 602.6749999999997 335.513L599.3869999999997 335.513C599.0289999999998 335.513 598.7379999999997 335.806 598.7379999999997 336.16799999999995C598.7379999999997 336.52899999999994 599.0289999999998 336.8229999999999 599.3869999999997 336.8229999999999L601.5789999999997 336.8229999999999C602.6959999999997 336.8229999999999 603.6049999999997 337.73799999999994 603.6049999999997 338.8639999999999C603.6049999999997 339.9899999999999 602.6959999999997 340.9049999999999 601.5789999999997 340.9049999999999L599.3869999999997 340.9049999999999C599.0289999999998 340.9049999999999 598.7379999999997 341.1979999999999 598.7379999999997 341.5599999999999C598.7379999999997 341.9219999999999 599.0289999999998 342.21499999999986 599.3869999999997 342.21499999999986L600.4829999999997 342.21499999999986C601.5999999999997 342.21499999999986 602.5089999999997 343.13099999999986 602.5089999999997 344.25599999999986C602.5089999999997 345.38199999999983 601.5999999999997 346.29799999999983 600.4829999999997 346.29799999999983L599.3869999999997 346.29799999999983C599.0289999999998 346.29799999999983 598.7379999999997 346.59099999999984 598.7379999999997 346.9519999999998C598.7379999999997 347.31399999999985 599.0289999999998 347.6069999999998 599.3869999999997 347.6069999999998C600.5039999999997 347.6069999999998 601.4129999999997 348.5229999999998 601.4129999999997 349.6489999999998C601.4129999999997 350.7739999999998 600.5039999999997 351.68999999999977 599.3869999999997 351.68999999999977L583.3449999999997 351.68999999999977C582.9869999999997 351.68999999999977 582.6959999999997 351.9829999999998 582.6959999999997 352.34499999999974C582.6959999999997 352.70599999999973 582.9869999999997 352.9999999999997 583.3449999999997 352.9999999999997L599.3879999999997 352.9999999999997C601.2209999999997 352.9999999999997 602.7119999999996 351.4959999999997 602.7119999999996 349.6489999999997C602.7119999999996 348.7529999999997 602.3619999999996 347.9379999999997 601.7919999999997 347.3369999999997C602.9769999999996 346.8239999999997 603.8079999999997 345.6359999999997 603.8079999999997 344.2559999999997C603.8079999999997 343.3609999999997 603.4579999999996 342.5459999999997 602.8879999999997 341.9439999999997C604.0719999999997 341.4309999999997 604.9039999999997 340.2439999999997 604.9039999999997 338.8639999999997C604.9039999999997 337.9689999999997 604.5539999999996 337.1539999999997 603.9839999999997 336.5519999999997C605.1679999999997 336.0389999999997 605.9999999999997 334.8519999999997 605.9999999999997 333.4719999999997ZM572.997 330.121L570.9159999999999 330.115C570.8629999999999 330.115 570.8209999999999 330.071 570.8209999999999 330.01800000000003L570.8209999999999 319.574C570.8209999999999 319.325 570.6819999999999 319.099 570.4609999999999 318.988L568.1019999999999 317.799L570.4609999999999 316.60999999999996C570.6809999999999 316.49899999999997 570.8209999999999 316.27199999999993 570.8209999999999 316.025L570.8209999999999 313.405C570.8209999999999 313.352 570.8629999999999 313.30899999999997 570.9159999999999 313.30899999999997L599.654 313.30899999999997C599.707 313.30899999999997 599.75 313.352 599.75 313.405L599.75 328.157C599.75 328.518 600.041 328.811 600.4 328.811C600.7579999999999 328.811 601.049 328.518 601.049 328.157L601.049 313.405C601.049 312.63 600.423 312 599.654 312L570.9159999999999 312C570.1469999999999 312 569.521 312.63 569.521 313.405L569.521 315.61999999999995L566.3589999999999 317.21299999999997C566.1389999999999 317.32399999999996 565.9999999999999 317.551 565.9999999999999 317.799C565.9999999999999 318.04699999999997 566.1389999999999 318.274 566.3589999999999 318.385L569.521 319.978L569.521 330.01800000000003C569.521 330.793 570.1469999999999 331.42400000000004 570.914 331.42400000000004L572.9929999999999 331.43C573.353 331.43 573.6439999999999 331.13800000000003 573.645 330.777C573.646 330.416 573.356 330.122 572.997 330.121ZM580.097 351.69L576.244 351.69L576.244 331.43L580.097 331.43ZM597.438 349.726L597.438 333.395C597.438 333.03299999999996 597.148 332.74 596.789 332.74C596.43 332.74 596.139 333.033 596.139 333.395L596.139 349.726C596.139 350.087 596.4300000000001 350.38 596.789 350.38C597.148 350.38 597.438 350.087 597.438 349.726Z " fill="#2ab0e5" transform="matrix(1,0,0,1,-538,-287)"></path></svg>
        | <svg class="base-map__bulb" viewBox="0 0 17 36" height="36" width="17"><use xlink:href="#map-bulb"></use></svg>
        | <svg class="base-map__arrow" viewBox="0 0 9 16" height="14" width="9"><use xlink:href="/img/template/base.map-bulb.svg#map-arrow"></use></svg>
        .base-map__title
          span 2. Согласование
      .base-map__step.base-map__step-03
        .base-map__step-ico
          | <svg class="base-map__ico base-map__ico-03" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="92" height="92"><defs id="SvgjsDefs1106"><clipPath id="SvgjsClipPath1110"><path id="SvgjsPath1109" d="M777 287C802.405 287 823 307.595 823 333C823 358.405 802.405 379 777 379C751.595 379 731 358.405 731 333C731 307.595 751.595 287 777 287Z " fill="#ffffff"></path></clipPath></defs><path id="SvgjsPath1107" d="M777 287C802.405 287 823 307.595 823 333C823 358.405 802.405 379 777 379C751.595 379 731 358.405 731 333C731 307.595 751.595 287 777 287Z " fill="#ffffff" transform="matrix(1,0,0,1,-731,-287)"></path><path id="SvgjsPath1108" d="M777 287C802.405 287 823 307.595 823 333C823 358.405 802.405 379 777 379C751.595 379 731 358.405 731 333C731 307.595 751.595 287 777 287Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#2ab0e5" stroke-miterlimit="50" stroke-width="2" clip-path="url(&quot;#SvgjsClipPath1110&quot;)" transform="matrix(1,0,0,1,-731,-287)"></path><path id="SvgjsPath1111" d="M799.268 312.995L754.732 312.995C754.326 312.995 753.9979999999999 313.319 753.9979999999999 313.718L753.9979999999999 353.281C753.9979999999999 353.68 754.3259999999999 354.004 754.732 354.004L799.268 354.004C799.674 354.004 800.003 353.68 800.003 353.281L800.003 345.561C800.003 345.162 799.6740000000001 344.837 799.268 344.837C798.863 344.837 798.534 345.162 798.534 345.561L798.534 352.55699999999996L755.466 352.55699999999996L755.458 320.18899999999996L798.5419999999999 320.18899999999996L798.5339999999999 342.66599999999994C798.5339999999999 343.0659999999999 798.8629999999998 343.38999999999993 799.2679999999999 343.38999999999993C799.6739999999999 343.38999999999993 800.0029999999999 343.0659999999999 800.0029999999999 342.66599999999994L800.0029999999999 313.71799999999996C800.0029999999999 313.31899999999996 799.674 312.99499999999995 799.2679999999999 312.99499999999995ZM755.466 314.442L782.477 314.434L782.477 318.75L755.466 318.784ZM770.375 331.003C770.167 330.659 769.717 330.546 769.368 330.751L760.816 335.77299999999997C760.594 335.90299999999996 760.4580000000001 336.13899999999995 760.4580000000001 336.39399999999995C760.4580000000001 336.64899999999994 760.594 336.88599999999997 760.816 337.01599999999996L769.368 342.03799999999995C769.4860000000001 342.10699999999997 769.615 342.13999999999993 769.743 342.13999999999993C769.994 342.13999999999993 770.2370000000001 342.0129999999999 770.375 341.78599999999994C770.582 341.4429999999999 770.468 340.99799999999993 770.12 340.7939999999999L762.627 336.39399999999995L770.12 331.99499999999995C770.468 331.78999999999996 770.582 331.34599999999995 770.375 331.00299999999993ZM783.626 341.786C783.7629999999999 342.013 784.007 342.14 784.257 342.14C784.385 342.14 784.5139999999999 342.10699999999997 784.632 342.038L793.184 337.016C793.406 336.886 793.5419999999999 336.649 793.5419999999999 336.394C793.5419999999999 336.139 793.406 335.903 793.184 335.773L784.632 330.75100000000003C784.284 330.54600000000005 783.833 330.65900000000005 783.626 331.00300000000004C783.418 331.34600000000006 783.5319999999999 331.79 783.881 331.99500000000006L791.374 336.39400000000006L783.881 340.79400000000004C783.5319999999999 340.99800000000005 783.418 341.44300000000004 783.626 341.78600000000006ZM779.811 330.969L772.97 341.012C772.744 341.344 772.8340000000001 341.794 773.1700000000001 342.017C773.296 342.1 773.4380000000001 342.14 773.5790000000001 342.14C773.815 342.14 774.047 342.027 774.1890000000001 341.81899999999996L781.0300000000001 331.77599999999995C781.2560000000001 331.44499999999994 781.167 330.99499999999995 780.83 330.77199999999993C780.493 330.5489999999999 780.037 330.6379999999999 779.811 330.96899999999994ZM783.937 318.75L783.937 314.434L798.534 314.442L798.534 318.784ZM791.34 315.841C790.908 315.841 790.557 316.187 790.557 316.613C790.557 317.038 790.908 317.385 791.34 317.385C791.772 317.385 792.123 317.038 792.123 316.613C792.123 316.187 791.772 315.841 791.34 315.841ZM787.327 315.841C786.895 315.841 786.544 316.187 786.544 316.613C786.544 317.038 786.895 317.385 787.327 317.385C787.758 317.385 788.11 317.038 788.11 316.613C788.11 316.187 787.758 315.841 787.327 315.841ZM795.353 315.841C794.9209999999999 315.841 794.5699999999999 316.187 794.5699999999999 316.613C794.5699999999999 317.038 794.9209999999999 317.385 795.353 317.385C795.785 317.385 796.136 317.038 796.136 316.613C796.136 316.187 795.785 315.841 795.353 315.841Z " fill="#2ab0e5" transform="matrix(1,0,0,1,-731,-287)"></path></svg>
        | <svg class="base-map__bulb" viewBox="0 0 17 36" height="36" width="17"><use xlink:href="#map-bulb"></use></svg>
        | <svg class="base-map__arrow" viewBox="0 0 9 16" height="14" width="9" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events"><use xlink:href="/img/template/base.map-bulb.svg#map-arrow"></use></svg>
        .base-map__title
          span 3. Внедрение
      .base-map__step.base-map__step-04
        .base-map__step-ico
          | <svg class="base-map__ico base-map__ico-04" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="94" height="94"><defs id="SvgjsDefs1113"></defs><path id="SvgjsPath1114" d="M1008.41 309.571C1012.3199999999999 316.33500000000004 1014.56 324.187 1014.56 332.56100000000004C1014.56 357.96700000000004 993.9649999999999 378.562 968.56 378.562C943.155 378.562 922.56 357.967 922.56 332.56100000000004C922.56 307.15500000000003 943.155 286.56000000000006 968.56 286.56000000000006C977.54 286.56000000000006 985.919 289.13300000000004 993 293.58200000000005 " fill="#ffffff" transform="matrix(1,0,0,1,-921.5,-285.5)"></path><path id="SvgjsPath1115" d="M1008.41 309.571C1012.3199999999999 316.33500000000004 1014.56 324.187 1014.56 332.56100000000004C1014.56 357.96700000000004 993.9649999999999 378.562 968.56 378.562C943.155 378.562 922.56 357.967 922.56 332.56100000000004C922.56 307.15500000000003 943.155 286.56000000000006 968.56 286.56000000000006C977.54 286.56000000000006 985.919 289.13300000000004 993 293.58200000000005 " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#2ecc71" stroke-miterlimit="50" stroke-width="1" transform="matrix(1,0,0,1,-921.5,-285.5)"></path><path id="SvgjsPath1116" d="M1003.92 303.941C1003.74 303.57199999999995 1003.3299999999999 303.364 1002.92 303.428L997.809 304.216L998.597 299.104C998.66 298.695 998.453 298.291 998.083 298.104C997.7139999999999 297.917 997.266 297.988 996.973 298.281L991.036 304.21500000000003C990.8919999999999 304.35900000000004 990.7979999999999 304.545 990.7669999999999 304.74600000000004L989.8269999999999 310.84000000000003L986.4289999999999 314.237C981.7469999999998 309.892 975.6879999999999 307.51000000000005 969.2569999999998 307.51000000000005C962.5049999999999 307.51000000000005 956.1609999999998 310.13400000000007 951.3929999999998 314.90000000000003C946.6259999999997 319.665 943.9999999999998 326.00600000000003 943.9999999999998 332.75500000000005C943.9999999999998 339.50300000000004 946.6259999999997 345.84400000000005 951.3929999999998 350.61000000000007C956.1609999999998 355.37500000000006 962.5049999999998 358.00000000000006 969.2559999999999 358.00000000000006C976.0079999999998 358.00000000000006 982.3519999999999 355.37500000000006 987.1199999999999 350.61000000000007C991.887 345.84400000000005 994.5129999999999 339.50300000000004 994.5129999999999 332.75500000000005C994.5129999999999 327.38700000000006 992.853 322.26300000000003 989.713 317.93700000000007C989.4019999999999 317.50900000000007 988.803 317.41400000000004 988.375 317.72400000000005C987.947 318.035 987.852 318.63300000000004 988.163 319.06100000000004C991.064 323.05800000000005 992.597 327.793 992.597 332.75500000000005C992.597 345.619 982.127 356.08500000000004 969.256 356.08500000000004C956.386 356.08500000000004 945.9159999999999 345.619 945.9159999999999 332.75500000000005C945.9159999999999 319.8910000000001 956.386 309.42500000000007 969.256 309.42500000000007C975.175 309.42500000000007 980.754 311.6090000000001 985.073 315.59200000000004L980.694 319.968C977.5459999999999 317.15000000000003 973.5129999999999 315.606 969.256 315.606C959.7959999999999 315.606 952.0989999999999 323.299 952.0989999999999 332.755C952.0989999999999 342.211 959.7959999999999 349.904 969.256 349.904C978.717 349.904 986.413 342.211 986.413 332.755C986.413 329.599 985.55 326.515 983.917 323.836C983.6410000000001 323.385 983.052 323.242 982.6 323.517C982.148 323.792 982.006 324.381 982.2810000000001 324.83299999999997C983.7310000000001 327.21099999999996 984.4970000000001 329.95099999999996 984.4970000000001 332.755C984.4970000000001 341.155 977.6600000000001 347.989 969.2560000000001 347.989C960.8520000000001 347.989 954.0150000000001 341.155 954.0150000000001 332.755C954.0150000000001 324.355 960.8520000000001 317.521 969.2560000000001 317.521C973.0020000000001 317.521 976.5530000000001 318.86600000000004 979.3380000000001 321.324L974.9490000000001 325.711C973.3430000000001 324.41 971.355 323.702 969.2560000000001 323.702C964.2620000000001 323.702 960.1990000000001 327.763 960.1990000000001 332.755C960.1990000000001 337.747 964.2620000000001 341.808 969.2560000000001 341.808C974.2510000000001 341.808 978.3140000000001 337.747 978.3140000000001 332.755C978.3140000000001 331.866 978.1850000000001 330.987 977.931 330.142C977.779 329.636 977.245 329.348 976.738 329.501C976.2310000000001 329.65299999999996 975.9440000000001 330.186 976.096 330.693C976.296 331.359 976.398 332.05199999999996 976.398 332.755C976.398 336.691 973.1940000000001 339.893 969.256 339.893C965.318 339.893 962.1139999999999 336.691 962.1139999999999 332.755C962.1139999999999 328.819 965.3179999999999 325.617 969.256 325.617C970.842 325.617 972.347 326.13 973.584 327.07500000000005L968.579 332.07800000000003C968.2049999999999 332.45200000000006 968.2049999999999 333.05800000000005 968.579 333.432C968.766 333.619 969.011 333.712 969.256 333.712C969.501 333.712 969.746 333.61899999999997 969.933 333.432L987.116 316.257C987.122 316.25100000000003 991.181 312.194 991.181 312.194L997.278 311.255C997.479 311.224 997.665 311.129 997.809 310.986L1003.75 305.05199999999996C1004.04 304.758 1004.11 304.311 1003.92 303.941ZM992.612 305.348L996.2579999999999 301.704L995.7639999999999 304.906L992.1189999999999 308.549ZM996.676 309.41L993.4730000000001 309.903L997.119 306.26000000000005L1000.32 305.766Z " fill="#2ecc71" transform="matrix(1,0,0,1,-921.5,-285.5)"></path></svg>
        | <svg class="base-map__bulb" viewBox="0 0 17 36" height="36" width="17"><use xlink:href="#map-bulb"></use></svg>
        .base-map__title
          span 4. <b>Отдача от сайта</b>

    .base-step
          .col-left
            | <svg id="SvgjsSvg1131" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="93" height="132"><defs id="SvgjsDefs1132"><clipPath id="SvgjsClipPath1137"><path id="SvgjsPath1136" d="M421.5 552C425.09 552 428 554.91 428 558.5C428 562.09 425.09 565 421.5 565C417.91 565 415 562.09 415 558.5C415 554.91 417.91 552 421.5 552Z " fill="#ffffff"></path></clipPath><clipPath id="SvgjsClipPath1141"><path id="SvgjsPath1140" d="M392 559L392 558L415 558L415 559Z " fill="#ffffff"></path></clipPath><clipPath id="SvgjsClipPath1145"><path id="SvgjsPath1144" d="M392 559L392 457L393 457L393 559Z " fill="#ffffff"></path></clipPath></defs><path id="SvgjsPath1133" d="M484 533L422 533C421.444 533 421 533.454 421 534L421 588C421 588.546 421.444 589 422 589L484 589C484.556 589 485 588.546 485 588L485 577C485 576.454 484.556 576 484 576C483.444 576 483 576.454 483 577L483 587L423 587L423 543L483 543L483 573C483 573.546 483.444 574 484 574C484.556 574 485 573.546 485 573L485 534C485 533.454 484.556 533 484 533ZM463 573C462.444 573 462 573.453 462 574L462 582C462 582.546 462.444 583 463 583L478 583C478.556 583 479 582.546 479 582L479 574C479 574 478.639 572.889 478 573L472 573L472 567C472 566.454 471.556 566 471 566L456 566C455.444 566 455 566.454 455 567C455 567.546 455.444 568 456 568L470 568L470 573ZM423 535L460 535L460 541L423 541ZM462 541L462 535L483 535L483 541ZM477 581L464 581L464 575L477 575ZM463 552C463 550.968 462 551 462 551L444 551C444 551 443 551 443 552C443 553 444 553 444 553L462 553C462 553 463 553.031 463 552ZM459 556C459 555.031 458 555 458 555L448 555C448 555 447 555 447 556C447 557 448 557 448 557L458 557C458 557 459 556.968 459 556ZM472 537C471.408 537 471 537.418 471 538C471 538.582 471.408 539 472 539C472.592 539 473 538.582 473 538C473 537.418 472.592 537 472 537ZM478 537C477.408 537 477 537.418 477 538C477 538.582 477.408 539 478 539C478.592 539 479 538.582 479 538C479 537.418 478.592 537 478 537ZM466 537C465.408 537 465.086 537.361 465.086 537.942C465.086 538.524 465.408 539 466 539C466.592 539 467 538.582 467 538C467 537.418 466.592 537 466 537ZM446 573C445.444 573 445 573.453 445 574L445 582C445 582.546 445.444 583 446 583L460 583C460.556 583 461 582.546 461 582C461 582 461.196 574.234 461 574C460.838 573.26 460.525 572.963 460 573L454 573L454 562L467 562C467.556 562 468 561.546 468 561L468 547C468 546.453 467.556 546 467 546L439 546C438.444 546 438 546.453 438 547L438 561C438 561.546 438.444 562 439 562L452 562L452 566L435 566C434.444 566 434 566.454 434 567L434 573L428 573C427.444 573 427 573.453 427 574L427 582C427 582.546 427.444 583 428 583L443 583C443.556 583 444 582.546 444 582L444 574C444 573.453 443.556 573 443 573L436 573L436 568L452 568L452 573ZM440 548L466 548L466 560L440 560ZM442 581L429 581L429 575L442 575ZM459 581L447 581L447 575L459 575Z " fill="#2ab0e5" transform="matrix(1,0,0,1,-392,-457)"></path><path id="SvgjsPath1134" d="M421.5 552C425.09 552 428 554.91 428 558.5C428 562.09 425.09 565 421.5 565C417.91 565 415 562.09 415 558.5C415 554.91 417.91 552 421.5 552Z " fill="#ffffff" transform="matrix(1,0,0,1,-392,-457)"></path><path id="SvgjsPath1135" d="M421.5 552C425.09 552 428 554.91 428 558.5C428 562.09 425.09 565 421.5 565C417.91 565 415 562.09 415 558.5C415 554.91 417.91 552 421.5 552Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#4ad384" stroke-miterlimit="50" stroke-width="2" clip-path="url(&quot;#SvgjsClipPath1137&quot;)" transform="matrix(1,0,0,1,-392,-457)"></path><path id="SvgjsPath1138" d="M392 559L392 558L415 558L415 559Z " fill="#ffffff" transform="matrix(1,0,0,1,-392,-457)"></path><path id="SvgjsPath1139" d="M392 559L392 558L415 558L415 559Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#4ad384" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#SvgjsClipPath1141&quot;)" transform="matrix(1,0,0,1,-392,-457)"></path><path id="SvgjsPath1142" d="M392 559L392 457L393 457L393 559Z " fill="#ffffff" transform="matrix(1,0,0,1,-392,-457)"></path><path id="SvgjsPath1143" d="M392 559L392 457L393 457L393 559Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#4ad384" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#SvgjsClipPath1145&quot;)" transform="matrix(1,0,0,1,-392,-457)"></path></svg>
            br
            br
            p.text--uppercase.text--xsmall Разработка стратегии
            h3 Стратегия выборочно состоит из
            p.text--small
              | При разработке клиент может
              | выбрать от одной до шести
              | составляющих стратегии
          .col-part
            .base-step__part
              .base-step__part-title 1. SEO
              .base-step__part-text Внедрение на сайт SEO-рекоммендаций
            .base-step__part
              .base-step__part-title 2. Доработка сайта
              .base-step__part-text Доработка сайта, улучшение конкурентоспособности
            .base-step__part
              .base-step__part-title 3. Поведенческие качества
              .base-step__part-text Улучшение поведенческих качеств сайта
            .base-step__part
              .base-step__part-title 4. Usability
              .base-step__part-text Внедрение на сайт Usability-рекоммендаций
            .base-step__part
                  .base-step__part-title 5. Бизнес-решения
                  .base-step__part-text Внедрение индивидуальных бизнес-решений
            .base-step__part
              .base-step__part-title 6. Целевой траффик
              .base-step__part-text Охват всей тематикит по целевому трафику
    p
      | Работа над качеством сайта - это обязательная и критичная составляющая эффективного продвижения.
      | Мы сами разрабатываем стратегию работы по улучшению качества сайта (согласовываем) и последовательно, в
      | порядке приоритета, внедряем.
    p
    p
      | Это решение для тех Клиентов, которые не могут оперативно внедрять наши рекомендации (они носят обязательный
      | характер и лежат на стороне Клиента в рамках SEO-продвижения сайта).
    h3 Стандартный формат базовой поддержки:
    br
    .row
      .col-sm-12.col-md-6.col-lg-7
        img(src='/img/base-01.png')
        br
      .col-sm-12.col-md-6.col-lg-5
        ul
          li Закрытые часы – это фактически выполненные работы.
          li Все работы – предварительно согласовываются в стратегии работ.
          li Переработанные часы (или недоработанные) – НЕ сгорают, они переносятся на следующий месяц.
    br

    h3 Случай, если нужно выполнить несистемную задачу:
    br
    .row
      .col-sm-12.col-md-6.col-lg-7
        img(src='/img/base-02.png')
        br
      .col-sm-12.col-md-6.col-lg-5
        p
          b Разовая платная задача
          br
          | (несистемная задача)
        ul
          li Выполняется в любое время.
          li Оплачивается отдельно.
          li На выполнение работ в рамках базовой поддержки не влияет.
        p Трудозатратная задача, поступившая от клиента (вне согласованной стратегии работ), более 20 часов (> 20 тыс.)
    br
    .like-h2 Ответы на вопросы
    .faq.faq--type-2
      .faq__item
        .faq__item-heading.js-toggle.faq__item-heading--left-p Какие задачи не выполняются?
        .faq__item-content
          p
            | Вебмастера, Дизайнеры, Копирайтеры выполняют <span class='imp'>любые</span> задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: <span class='imp'>ASP, Perl, Flash, Питон, Ruby.</span>
      .faq__item
        .faq__item-heading.js-toggle.faq__item-heading--left-p  Переносятся ли часы или они сгорают?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle.faq__item-heading--left-p  В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
  block content-bottom
    include ./layout/block/portfolio
