extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Клиентская поддержка
  block content-top
    h1 Клиентская поддержка
    hr
    p
      | Мы разработали уникальную систему работы в рамках этой услуги, при которой за каждым нашим клиентом закрепляется
      | свой специалист, и Вы оплачиваете реальную работу по факту ее выполнения.

  block content-aside
    .aside
      .aside__section
        .aside__header Средняя стоимость:
        .aside__price
          .price от 35 000 руб.
      .aside__section
        .aside__header Скачать:
        .aside__doc-list.doc-list
          a.doc-list__item.doc-list__item--round(href='#')
            span test
          a.doc-list__item.doc-list__item--pc(href='#')
            span Документы
          a.doc-list__item.doc-list__item--doc(href='#')
            span  Договор
  block content
    h2 Возможные тарифы:
    .client-tariffs.row
      .tariff
        .tariff__title — Тариф 1 —
        .tariff__hour  35 часов
        .tarrif__text работы исполнителей в месяц
      .tariff
        .tariff__title — Тариф 2 —
        .tariff__hour 50 часов
        .tarrif__text работы исполнителей в месяц
      .tariff
        .tariff__title — Тариф 3 —
        .tariff__hour 75 часов
        .tarrif__text работы исполнителей в месяц
    h2 Работы выполняемые в рамках услуги:
    .work-list.row
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-01.png')
        .work-list__item-title Внесение изменений
        .work-list__item-text Бесплатное внесение изменений на сайт в объеме трудозатрат одного специалиста
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-02.png')
        .work-list__item-title Контроль работоспособности
        .work-list__item-text Непрерывный мониторинг работы сайта и его восстановление в случае технических сбоев
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-03.png')
        .work-list__item-title Архивная копия сайта
        .work-list__item-text Еженедельное полное копирование данных сайта, хранению архивных копий в течении одного месяца
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-04.png')
        .work-list__item-title Антивирус
        .work-list__item-text Мониторинг и выявление вирусных программ, а так же работы по удалению вирусов
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-05.png')
        .work-list__item-title Управление доменом
        .work-list__item-text Контроль своевременной оплаты, продление доменных имен
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-06.png')
        .work-list__item-title Восстановление
        .work-list__item-text Работа по восстановлению сайта, в случае частичной устраты его работоспособности
    .client-promo
      .client-promo__text
        h2  Как ставятся задачи?
        p Задачи ставятся в формате приближенном к ТЗ. Это осуществляется через систему управления проектами из любой точки мира.
      .client-promo__img
        img(src='/img/client-01.png')
    .client-report
      .client-report__text
        | Наши заказчики получают <i class='imp'>еженедельные отчеты</i>
        | по состоянию сайта и выполненным задачам.
      a.btn--white Пример отчета
    .like-h2 Ответы на вопросы
    .faq.faq--type-2
      .faq__item
        .faq__item-heading.js-toggle.faq__item-heading--left-p Какие задачи не выполняются?
        .faq__item-content
          p
            | Вебмастера, Дизайнеры, Копирайтеры выполняют <span class='imp'>любые</span> задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: <span class='imp'>ASP, Perl, Flash, Питон, Ruby.</span>
      .faq__item
        .faq__item-heading.js-toggle.faq__item-heading--left-p  Переносятся ли часы или они сгорают?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle.faq__item-heading--left-p  В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
  block content-bottom
    include ./layout/block/portfolio
