extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Документы
  block content-top
    h1 Документы
    hr
    p
      | Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов в
      | определенной тематике под «свою» целевую аудиторию. Выполнение данных условий необходимо для полноценного ранжирования в поисковых системах и наибольшей конверсии.
  block content-aside
    .aside
      .aside__section
        .aside__header Средняя стоимость:
        .aside__price
          .price от 40 000 руб.
      .aside__section
        .aside__header Срок разработки:
          .progress-bar(data-progress='30')
        .aside__text от 3 месяцев
      .aside__section
        .aside__header Используеммые CMS:
        .aside__cms-list
          img(src='/img/logo-bitrix.png')
          img(src='/img/logo-opencart.png')
          img(src='/img/logo-modx.png')
  block content
    .document-table
      .document-table__header
        .document-table__label Тип услуги
        .document-table__links Скачать
      .document-table__row
        .document-table__label Сайт для продвижения
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Адаптивная верстка
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Адаптивная верстка
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Клиентская поддержка
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Мониторинг ошибок и вирусов
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Usability-аудит  внедрение
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
  block content-bottom
    include ./layout/block/portfolio
