extends ./layout/base.pug
include ./layout/header.pug
  block title
    | faq
  block content-top
    h1 F.A.Q.
    p Часто задаваемые вопросы по услуге <b>«Сайт для продвижения»</b>
  block content-aside
    .aside
      .col-xs-12
        .aside__header Ответы на вопросы <br> по услуге:
        ul.aside-menu
          li: a(href='#') Сайт для <br> продвижения
          li: a(href='#') Адаптивная <br> верстка
          li: a(href='#') Базовая поддержка
          li: a(href='#') Клиентская поддержка
  block content
    .faq
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            | Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Переносятся ли часы или они сгорают?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
  block content-bottom
    include ./layout/block/portfolio
