extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Адаптивная верстка
  block content-top
    h1 Адаптивная верстка
    hr
    .adaptive-header
      .adaptive-header__left
        a.btn--blue(href='http://www.google.com/webmasters/tools/mobile-friendly/') Проверить сайт
        .tips
          | Проверить удобство поросмотра
          br
          | на мобильных устройствах
      .adaptive-header__right
        p
          | Адаптивная верстка сайта – это сайт, который динамически подстраивается под заданные размеры окна браузера,
          | обеспечивая удобное для пользователя и выгодное отображение информации на сайте.
  block content-aside
    .aside
      .aside__section
        .aside__header Стоимость услуги:
        .aside__price
          .price от 40 000 руб.
      .aside__section
        .aside__header Скачать:
        .aside__doc-list.doc-list
          a.doc-list__item.doc-list__item--round(href='#')
            span test
          a.doc-list__item.doc-list__item--pc(href='#')
            span Документы
          a.doc-list__item.doc-list__item--doc(href='#')
            span  Договор
  block content
    h3 Вариант 1. Под все разрешения
    img(src='/img/adaptive-01.png')
    h3  Вариант 2. С отдельной мобильной версией.
    img(src='/img/adaptive-02.png')
    br
    br
    p
      | Преимущество мобильной версии - более высокая конверсия. Для мобильной аудитории важна возможность быстрого заказа
      | товара или услуги. Поэтому разрабатывается отдельная структура и концепция\дизайн сайта с учетом Usability-аспектов
      | под "мобильную" аудиторию, поведение которой сильно отличается.
    hr
    .hide-xs
      h2 Цель адаптивной верстки
      .adaptive-goals
        .adaptive-goals__col-1
          .adaptive-goals__title Для Google
          p В своем официальном блоге Google сообщил, что с 21 апреля в поисковой выдаче будет отдаваться предпочтение сайтам с мобильной версией
        .adaptive-goals__col-2
          .adaptive-goals__question
            .adaptive-goals__question-content Зачем нужна <br/>адаптивная верстка?
        .adaptive-goals__col-3
          .adaptive-goals__title Для продаж
          p Адаптивная верстка — это выше конверсия, Меньший процент отказов. Больше глубина просмотра страниц и общее проведенное время на сайте и т. д.
      .adaptive-detail-goal
        .adaptive-detail-goal__item
          .adaptive-detail-goal__count 1
          | <b>Для Яндекс и Google.</b> В Google, адаптивная верстка - один из основных факторов ранжирования. Для Яндекс и
          | Google: меньше % отказов; выше поведенческие (пользовательские) факторы у сайта, глубина просмотра,
          | время проведения и др.
        .adaptive-detail-goal__item
          .adaptive-detail-goal__count 2
          | <b>Для продаж.</b> Наличие адаптивной верстки на сайте – напрямую коррелирует с ростом конверсии, т.к.
          | предоставлена информация пользвателю в удобном и выгодном для принятия решения виде. Дополнительно,
          | растет репутация сайта\компании: влияет на вторичные заказы и рекомендации.
    .adaptive-example.row
      .col-xs-6.center-xs
        .adaptive-example__title
          | <b>Не</b> продающий сайт
        img(src='/img/adaptive-03.png')
      .col-xs-6.center-xs
        .adaptive-example__title
          | Продающий сайт
        img(src='/img/adaptive-04.png')
    p
      | Достаточно посчитать, какое кол-во пользователей в месяц (в год) посещает сайт с мобильных устройств, с
      | планшетов, с широкоформатных экранов и др. – и все они видят некорректный сайт, которым неудобно
      | пользоваться, где НЕ расставлены акценты для принятия решения о покупке товара или услуги.
    hr
    .adaptive-total
      | <span class='imp'>- Один раз сделав адаптивную верстку сайта</span> – означает пойти навстречу целому сегменту целевой аудитории.
      | Важно учитывать что доля мобильного трафика растет из года в год и вопрос адаптивной верстки рано или поздно
      | придется решать. И чем позже она будет реализована - тем больше упущенная выгода. Usability-аспектов под
      | "мобильную" аудиторию, поведение которой сильно отличается.
    hr
  block content-bottom
    include ./layout/block/portfolio
