extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Редизайн сайта «Перчина»
  block content-top
    .breadcrumbs
      a(href='#').return-link Назад портфолио
    h1 Редизайн сайта «Перчина»
    hr
    p Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов в определенной тематике под «свою» целевую аудиторию.
  block content-aside
    .aside
      .aside__section
        .aside__header Этапы создания:
        .aside__counter-wrapper
          .aside__counter
            .round-progress-bar(data-progress='10' data-theme='red')#bar-01
              | <svg class='round-progress-bar__svg'  width="70" height="70" viewPort="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
              | <circle r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" stroke-dashoffset="0"></circle>
              | <circle class="bar" r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" style='stroke-dashoffset: 194.77px'></circle>
              | </svg>
              .round-progress-bar__value
                .text-value
                  | 10
                .round-progress-bar__text
                  | дней
          .aside__counter-name Аналитика
        .aside__counter-wrapper
          .aside__counter
            .round-progress-bar(data-progress='35' data-theme='red')
              | <svg class='round-progress-bar__svg'  width="70" height="70" viewPort="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
              | <circle r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" stroke-dashoffset="0"></circle>
              | <circle class="bar" r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" style='stroke-dashoffset: 194.77px'></circle>
              | </svg>
              .round-progress-bar__value
                .text-value
                  | 14
                .round-progress-bar__text
                  | дней
          .aside__counter-name Прототипы и дизайн
        .aside__counter-wrapper
          .aside__counter
            .round-progress-bar(data-progress='50' data-theme='red')
              | <svg class='round-progress-bar__svg'  width="70" height="70" viewPort="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
              | <circle r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" stroke-dashoffset="0"></circle>
              | <circle class="bar" r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" style='stroke-dashoffset: 194.77px'></circle>
              | </svg>
              .round-progress-bar__value
                .text-value
                  | 24
                .round-progress-bar__text
                  | дней
          .aside__counter-name Программи-рование
      .aside__section
        .aside__header Срок разработки:
          .progress-bar(data-progress='30')
        .aside__text 2 месяца
        .aside__header Сделано на CMS:
        .aside__cms-list
          img(src='/img/logo-opencart.png')
      .aside__section
        .aside__header Рассчитать стоимость похожего проекта:
        a.btn--white РАссчет стоимости
  block content
    img(src='/img/pf-01.png')
    img.portfolio-img(src='/img/pf-02.png')

    .portfolio-more
      .portfolio-more__title Еще наши работы:
      .portfolio.row
        .col-xs-12.col-md-6
          a.portfolio__item(href='#')
            .portfolio__item-img
              img(src='/img/portfolio-01.png')
            .portfolio__item-title Редизайн сайта Perchina.ru
        .col-xs-12.col-md-6
          a.portfolio__item(href='#')
            .portfolio__item-img
              img(src='/img/portfolio-02.png')
            .portfolio__item-title Редизайн сайта Perchina.ru
  block content-bottom
