extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Портфолио
  block content-top
    h1 Портфолио
    hr
    p Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов в определенной тематике под «свою» целевую аудиторию.
  block content-aside
    .aside
      .aside__section
        .aside__header Средняя стоимость:
        .aside__price
          .price от 40 000 руб.
      .aside__section
        .aside__header Срок разработки:
          .progress-bar(data-progress='78')
        .aside__text от 3 месяцев
      .aside__section
        .aside__header Используеммые CMS:
        .aside__cms-list
          img(src='/img/logo-bitrix.png')
          img(src='/img/logo-opencart.png')
          img(src='/img/logo-modx.png')
  block content
    .portfolio.row
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-01.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-02.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-01.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-02.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-01.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-02.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-01.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-02.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
    .portfolio__footer.row.center-xs
      a.btn--white(href='#') ПОКАЗАТЬ ЕЩЕ
  block content-bottom
