extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Расчет стоимости
  block content-top
    .breadcrumbs
      a(href='/').return-link Назад
    h1 Расчет стоимости
  block content-aside
    .aside
      .col
        .sc-result
          .sc-pageof 1/3
          .aside__header Стоимость вашего проекта:
          .aside__price.js-sc-price 0 руб.
          .btn--green.sc-next Далее
          .btn--green.sc-send(disabled) ОТправить
  block content

    mixin generate-options (opt, i)
      each value, index in opt
        .sc__option
          input(type='checkbox' id='option-' + i + '-' + index).sc-checkbox
          label(for='option-' + i + '-' + index).sc-checkbox-label
            span= value
    .site-constructor.sc
      .sc__navigate
        .sc__navigate-step.is-active Шаг 1. Выбрать тип сайта
        .sc__navigate-step Шаг 2. Выбрать параметры
        .sc__navigate-step Шаг 3. Заполнить бриф
        .sc__navigate-bg
      form.sc__steps
        .sc__step--01.sc__step.is-active
          .sc-types
            .sc__step-title 1. Тип сайта
            input#sc-type-01(type='radio' name='sc-type')
            label.sc-type(for='sc-type-01')
              img(src='/img/template/sc.step-0-01.png')
              .sc-type__name Интернет-магазин
              .sc-type__desc
                | Для точного расчета стоимости выберите параметры и отметьте все функции, которые
                | хотите реализовать в своем проекте
            input#sc-type-02(type='radio' name='sc-type')
            label.sc-type(for='sc-type-02')
              img(src='/img/template/sc.step-0-02.png')
              .sc-type__name Сайт услуг
              .sc-type__desc
                | Для точного расчета стоимости выберите параметры и отметьте все функции, которые
                | хотите реализовать в своем проекте
        .sc__step--02.sc__step
          .sc__prev-step-result
            .sc__step-title 1. Тип сайта
            .sc__result-step-img
              img(src='/img/template/sc.step-0-02.png')
            .sc__result-step-text
              .sc__result-name Сайт услуг
              .sc__result-desc
                | Для точного расчета стоимости выберите параметры и отметьте все функции, которые
                | хотите реализовать в своем проекте
          .sc__step-title 2. Выберите параметры
          p Для точного расчета стоимости выберите параметры и отметьте все функции, которые хотите реализовать в своем проекте
          .sc__parameters
            .sc__option-group
              .sc__option-group-header Основные опции
              .sc__option-container
                .sc__option
                  input(type='checkbox')#option-0-0.sc-checkbox
                  label(for='option-0-0').sc-checkbox-label.is-default
                    span Cистема управления содержимым
                .sc__option
                  input(type='checkbox')#option-0-1.sc-checkbox
                  label(for='option-0-1').sc-checkbox-label.is-default
                    span Оригинальный статичный дизайн
                .sc__option
                  input(type='checkbox')#option-0-2.sc-checkbox
                  label(for='option-0-2').sc-checkbox-label.is-default
                    span Подготовка шаблонов второстепенных страниц (до 20 разделов)
                .sc__option
                  input(type='checkbox')#option-0-4.sc-checkbox
                  label(for='option-0-4').sc-checkbox-label
                    span Новостная лента
                .sc__option
                  input(type='checkbox')#option-0-5.sc-checkbox
                  label(for='option-0-5').sc-checkbox-label
                    span Вопрос-ответ
                .sc__option
                  input(type='checkbox')#option-0-6.sc-checkbox
                  label(for='option-0-6').sc-checkbox-label
                    span Поиск по сайту
                .sc__option
                  input(type='checkbox')#option-0-7.sc-checkbox
                  label(for='option-0-7').sc-checkbox-label
                    span Форма «Обратная связь» / «Задать вопрос»
                .sc__option
                  input(type='checkbox')#option-0-8.sc-checkbox
                  label(for='option-0-8').sc-checkbox-label
                    span Форма заказа продукции или услуги
                .sc__option
                  input(type='checkbox')#option-0-9.sc-checkbox
                  label(for='option-0-9').sc-checkbox-label
                    span Карта сайта
                .sc__option
                  input(type='checkbox')#option-0-10.sc-checkbox
                  label(for='option-0-10').sc-checkbox-label
                    span Разработка логотипа
                .sc__option
                  input(type='checkbox')#option-0-11.sc-checkbox
                  label(for='option-0-11').sc-checkbox-label
                    span Дополнительный дизайн-макет сайта
                    span.help ?
                .sc__option
                  input(type='checkbox')#option-0-12.sc-checkbox
                  label(for='option-0-12').sc-checkbox-label
                    span Flash-анимация отдельных элементов
                    span.help ?
                .sc__option
                  input(type='checkbox')#option-0-13.sc-checkbox
                  label(for='option-0-13').sc-checkbox-label
                    span Наличие уникальных иконок-пиктограмм
                    span.help ?
                .sc__option
                  input(type='checkbox')#option-0-14.sc-checkbox
                  label(for='option-0-14').sc-checkbox-label
                    span Прайс-лист
                    span.help ?
                .sc__option
                  input(type='checkbox')#option-0-15.sc-checkbox
                  label(for='option-0-15').sc-checkbox-label
                    span Публикации, статьи, инструкции
                    span.help ?
                .sc__option
                  input(type='checkbox')#option-0-16.sc-checkbox
                  label(for='option-0-16').sc-checkbox-label
                    span Архив новостей, публикации, статей, инструкций
                    span.help ?
                .sc__option
                  input(type='checkbox')#option-0-17.sc-checkbox
                  label(for='option-0-17').sc-checkbox-label
                    span Дополнительный дизайн-макет сайта
                .sc__option
                  input(type='checkbox')#option-0-18.sc-checkbox
                  label(for='option-0-18').sc-checkbox-label
                    span Flash-анимация отдельных элементов
                .sc__option
                  input(type='checkbox')#option-0-19.sc-checkbox
                  label(for='option-0-19').sc-checkbox-label
                    span Наличие уникальных иконок-пиктограмм
                .sc__option
                  input(type='checkbox')#option-0-20.sc-checkbox
                  label(for='option-0-20').sc-checkbox-label
                    span Опрос мнения / голосование / рейтинги
                .sc__option
                  input(type='checkbox')#option-0-21.sc-checkbox
                  label(for='option-0-21').sc-checkbox-label
                    span Внутренняя баннерная система
                .sc__option
                  input(type='checkbox')#option-0-22.sc-checkbox
                  label(for='option-0-22').sc-checkbox-label
                    span Обмен ссылками
                .sc__option
                  input(type='checkbox')#option-0-23.sc-checkbox
                  label(for='option-0-23').sc-checkbox-label
                    span Промо-блоки / Акции
                .sc__option
                  input(type='checkbox')#option-0-24.sc-checkbox
                  label(for='option-0-24').sc-checkbox-label
                    span Случайный показ (ротация блоков)
                .sc__option
                  input(type='checkbox')#option-0-25.sc-checkbox
                  label(for='option-0-25').sc-checkbox-label
                    span Мультиязычность
                .sc__option
                  input(type='checkbox')#option-0-26.sc-checkbox
                  label(for='option-0-26').sc-checkbox-label
                    span Версия для печати
                .sc__option
                  input(type='checkbox')#option-0-27.sc-checkbox
                  label(for='option-0-27').sc-checkbox-label
                    span Комментарии
          .sc__parameters(data-masonry='{ "itemSelector": ".sc__option-group", "columnWidth": ".sc__option-sizer", "gutter": ".sc__option-gutter", "percentPosition": true}')
            .sc__option-gutter
            .sc__option-sizer
            .sc__option-group
              .sc__option-group-header Расширенный личный кабинет
                -
                  var optList_01 = [
                  'Привязка пользователя к персональному менеджеру',
                  'Отображение состояния счета',
                  'Возможность пополнения счета',
                  'Отображение состояния корзины',
                  'Ведение истории заказов',
                  'Выставление счетов и квитанций для оплаты',
                  'Подключение системы оповещения',
                  'Возможность размещения объявлений о продаже / покупке товаров',
                  'Формирование списка «Товары для сравнения»',
                  'Формирование листа «Избранные товары»',
                  'Подключение к on-line консультанту',
                  'Обратная связь',
                  'Создание личных заметкок',
                  ]
              +generate-options(optList_01, 1)
            .sc__option-group
              .sc__option-group-header Каталог товаров
              -
                var optList_02 = [
                'Выборка товаров по нескольким заданным критериям',
                'Расширенный поиск товаров в каталоге',
                'Сортировка результатов поиска по любому из полей',
                '«Автозаполнение» при поиске товаров (интеллектуальный поиск)',
                'Сравнение выбранных товаров по характеристикам',
                'Система рейтинга продуктовпокупателями'
                ]
              +generate-options(optList_02, 2)
            .sc__option-group
              .sc__option-group-header Заказы покупателя
              -
                var optList_03 = [
                'Оформление заказа за один шаг',
                'Автоматическое формирование',
                'накладной',
                'Расчет стоимости доставки в зависимости от адреса',
                'Возможность купить товар «В кредит»',
                'Уведомления о заказах'
                ]
              +generate-options(optList_03, 3)
            .sc__option-group
              .sc__option-group-header Обратная связь с покупателями
              -
                var optList_04 = [
                'Обсуждение товара покупателями',
                'Оценка товара покупателями',
                'Обсуждение статей покупателями'
                ]
              +generate-options(optList_04, 4)
            .sc__option-group
              .sc__option-group-header Реклама и маркетинг
              -
                var optList_05 = [
                'Рассылка',
                'Регистрация партнеров / B2B клиентов',
                'Автоматическое зачисление комиссионных партнера'
                ]
              +generate-options(optList_05, 5)
            .sc__option-group
              .sc__option-group-header Управление каталогом товаров
              -
                var optList_06 = [
                'Реализация группы товаров «Новинки»',
                'Реализация группы товаров «Специальные предложения»',
                'Реализация группы товаров «Лидеры продаж»',
                'Реализация группы товаров «Рекомендуемые товары»',
                'Реализация группы товаров «Сопутствующие товары»',
                'Реализация группы товаров «Уцененные товары»'
                ]
              +generate-options(optList_06, 6)
            .sc__option-group
              .sc__option-group-header Подключение к платежным системам
              -
                var optList_07 = [
                'VISA / Master Card',
                'Яндекс-деньги / Webmoney / QIWI',
                'PayPal',
                'CyberPlat / Assist / Chronopay',
                ]
              +generate-options(optList_07, 7)
        .sc__step--03.sc__step

          .sc__brief
            .sc__brief-top
              .sc__brief-top-img
                img(src='/img/template/ico.brief.step-3.png')
              .sc__brief-top-text
                .sc__brief-top-title 3. Заполните бриф
                p Чтобы результат оправдал ожидания, заполните бриф <span class='imp'>как можно подробнее</span>. Пожалуйста, отнеситесь к данному пункту ответственно
            .sc__brief-group
              .sc__brief-title 1. Главные задачи, которые должен решать сайт?
              textarea.sc__brief-textarea(placeholder='Какие по вашему мнению задачи должен решать сайт' rows='4')
            .sc__brief-group
              .sc__brief-title 2. Опишите желаемый сайт своими словами:
              textarea.sc__brief-textarea(placeholder='Какие по вашему мнению задачи должен решать сайт' rows='4')
            .sc__brief-group
              .sc__brief-title 3. Что Вам нравится и НЕ нравится в текущей версии сайта?
              .row
                .col-sm-12.col-md-6
                  textarea.sc__brief-textarea(placeholder='Нравиться:' rows='5')
                .col-sm-12.col-md-6
                  textarea.sc__brief-textarea(placeholder='Не нравиться:' rows='5')
            .sc__brief-group
              .sc__brief-title
                | 4. Приведите примеры сайтов из Вашей или смежной тематике, которые Вам нравятся и выполняют
                | необходимые задачи?
              .row
                .col-sm-12.col-md-6
                  input(type='text' placeholder='http://')
                .col-sm-12.col-md-6
                  textarea.sc__brief-textarea(placeholder='Что вам нравится на этом сайте?' rows='4')
                .col-sm-12.col-md-6
                  input(type='text' placeholder='http://')
                .col-sm-12.col-md-6
                  textarea.sc__brief-textarea(placeholder='Что вам нравится на этом сайте?' rows='4')
                .col-sm-12.col-md-6
                  a(href='#').sc__brief-add-site + <span>Добавить пример сайта</span>
            .sc__brief-group
              .sc__brief-title 5. Дополнительная информация
              textarea.sc__brief-textarea(placeholder='Напишите все что вы считаете может быть полезно ' rows='4')
            .sc__brief-contact
              .sc__brief-contact-title Контактные данные
              .row
                .col-xs-12.col-md-4
                  input(type='text' placehoder='Ваше имя').sc__brief-ico-name
                .col-xs-12.col-md-4
                  input(type='tel' placehoder='Телефон').sc__brief-ico-tel
                .col-xs-12.col-md-4
                  input(type='email' placehoder='Email').sc__brief-ico-email
            .sc__total
              .sc__total-title Выбранные параметры
              .sc__total-options(data-masonry='{ "itemSelector": ".sc__total-group", "columnWidth": ".sc__total-sizer", "gutter": ".sc__total-gutter", "percentPosition": true}')
                .sc__total-sizer
                .sc__total-gutter
                .sc__total-group
                  .sc__total-group-header Основные опции
                  .sc__total-option Cистема управления содержимым
                  .sc__total-option Оригинальный статичный дизайн
                  .sc__total-option Подготовка шаблонов второстепенных страниц (до 20 разделов)
                  .sc__total-option Поиск по сайту
                  .sc__total-option Вопрос-ответ
                .sc__total-group
                  .sc__total-group-header Каталог товаров
                  .sc__total-option Расширенный поиск товаров в каталоге
                  .sc__total-option Сортировка результатов поиска по любому из полей
                .sc__total-group
                  .sc__total-group-header Реклама и маркетинг
                  .sc__total-option Расширенный поиск товаров в каталоге
                  .sc__total-option Сортировка результатов поиска по любому из полей
                .sc__total-group
                  .sc__total-group-header Расширенный личный кабинет
                  .sc__total-option Отображение состояния корзины
                  .sc__total-option Ведение истории заказов
                  .sc__total-option Выставление счетов и квитанций для оплаты
                .sc__total-group
                  .sc__total-group-header Управление каталогом товаров
                  .sc__total-option Отображение состояния корзины
                  .sc__total-option Ведение истории заказов
                  .sc__total-option Выставление счетов и квитанций для оплаты
                .sc__total-group
                  .sc__total-group-header Подключение к платежным системам
                  .sc__total-option VISA / Master Card
                  .sc__total-option Яндекс-деньги / Webmoney / QIWI
                  .sc__total-option PayPal
                  .sc__total-option CyberPlat / Assist / Chronopay

block content-bottom
