extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Сайт для продвижения
  block content-top
    h1 Сайт для продвижения
    hr
    p
      | Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов
      | в определенной тематике под «свою» целевую аудиторию. Выполнение данных условий необходимо для полноценного ранжирования в поисковых системах и наибольшей конверсии.
  block content-aside
    .aside
      .aside__section
        .aside__header Стоимость услуги:
        .aside__price
          .price от 40 000 руб.
      .aside__section
        .aside__header Скачать:
        .aside__doc-list.doc-list
          a.doc-list__item.doc-list__item--round(href='#')
            span test
          a.doc-list__item.doc-list__item--pc(href='#')
            span Документы
          a.doc-list__item.doc-list__item--doc(href='#')
            span  Договор
  block content
    .site-up
      .site-up__stage
        .site-up__left
          .site-up__ico
            | <svg id="SvgjsSvg1121" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="93" height="93"><defs id="SvgjsDefs1122"><clipPath id="SvgjsClipPath1126"><path id="SvgjsPath1125" d="M327.562 302.562C352.968 302.562 373.562 323.15700000000004 373.562 348.562C373.562 373.968 352.968 394.562 327.562 394.562C302.15700000000004 394.562 281.562 373.968 281.562 348.562C281.562 323.15700000000004 302.15700000000004 302.562 327.562 302.562Z " fill="#ffffff"></path></clipPath></defs><path id="SvgjsPath1123" d="M327.562 302.562C352.968 302.562 373.562 323.15700000000004 373.562 348.562C373.562 373.968 352.968 394.562 327.562 394.562C302.15700000000004 394.562 281.562 373.968 281.562 348.562C281.562 323.15700000000004 302.15700000000004 302.562 327.562 302.562Z " fill="#ffffff" transform="matrix(1,0,0,1,-281,-302)"></path><path id="SvgjsPath1124" d="M327.562 302.562C352.968 302.562 373.562 323.15700000000004 373.562 348.562C373.562 373.968 352.968 394.562 327.562 394.562C302.15700000000004 394.562 281.562 373.968 281.562 348.562C281.562 323.15700000000004 302.15700000000004 302.562 327.562 302.562Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#2ab0e5" stroke-miterlimit="50" stroke-width="2" clip-path="url(&quot;#SvgjsClipPath1126&quot;)" transform="matrix(1,0,0,1,-281,-302)"></path><path id="SvgjsPath1127" d="M352.985 325.835L303.731 325.835C302.631 325.835 302.089 326.36899999999997 302.089 327.477L302.089 365.238C302.089 366.347 302.631 366.88 303.731 366.88L322.61199999999997 366.88L322.61199999999997 373.447L314.40299999999996 373.447C313.93999999999994 373.447 313.58199999999994 373.802 313.58199999999994 374.26800000000003C313.58199999999994 374.735 314.02399999999994 375.08900000000006 314.4869999999999 375.08900000000006L342.31299999999993 375.08900000000006C342.77599999999995 375.08900000000006 343.06699999999995 374.71100000000007 343.06699999999995 374.244C343.06699999999995 373.778 342.77599999999995 373.447 342.31299999999993 373.447L334.1039999999999 373.447L334.1039999999999 366.88L352.9849999999999 366.88C354.0849999999999 366.88 354.6269999999999 366.347 354.6269999999999 365.238L354.6269999999999 327.477C354.6269999999999 326.36899999999997 354.0849999999999 325.835 352.9849999999999 325.835ZM352.985 365.238L303.731 365.238L303.731 327.477L352.985 327.477ZM318.105 351.332C321.091 353.074 324.50800000000004 353.995 327.986 353.995C331.465 353.995 334.881 353.074 337.86699999999996 351.332C340.765 349.642 343.19499999999994 347.223 344.89599999999996 344.336C345.02 344.12600000000003 345.02 343.867 344.89599999999996 343.65700000000004C343.19499999999994 340.77000000000004 340.765 338.35100000000006 337.86699999999996 336.66100000000006C334.881 334.91800000000006 331.465 333.99800000000005 327.986 333.99800000000005C324.508 333.99800000000005 321.091 334.91800000000006 318.105 336.66100000000006C315.208 338.35100000000006 312.778 340.77000000000004 311.077 343.65700000000004C310.953 343.867 310.953 344.12600000000003 311.077 344.336C312.778 347.223 315.20799999999997 349.642 318.105 351.332ZM327.725 352.651C323.05800000000005 352.512 319.305 348.683 319.305 343.99600000000004C319.305 339.309 323.059 335.48 327.725 335.34200000000004C327.812 335.34100000000007 327.899 335.338 327.98600000000005 335.338C328.07400000000007 335.338 328.16100000000006 335.341 328.24800000000005 335.34200000000004C332.91400000000004 335.48 336.66700000000003 339.309 336.66700000000003 343.99600000000004C336.66700000000003 348.68300000000005 332.91400000000004 352.51200000000006 328.24800000000005 352.651C328.16100000000006 352.652 328.07400000000007 352.65500000000003 327.98600000000005 352.65500000000003C327.89900000000006 352.65500000000003 327.81200000000007 352.65200000000004 327.725 352.651ZM343.533 343.996C341.459 347.346 338.363 349.894 334.79 351.33299999999997C336.769 349.505 338.011 346.893 338.011 343.996C338.011 341.09999999999997 336.769 338.488 334.79 336.65999999999997C338.363 338.09799999999996 341.459 340.647 343.533 343.996ZM321.183 336.66C319.203 338.488 317.962 341.1 317.962 343.99600000000004C317.962 346.89300000000003 319.203 349.50500000000005 321.183 351.333C317.609 349.894 314.514 347.346 312.44 343.99600000000004C314.514 340.64700000000005 317.609 338.098 321.183 336.66ZM350.522 358.671C350.522 358.671 306.322 358.502 306.19399999999996 358.671C305.55899999999997 358.899 305.34 359.068 305.37299999999993 359.492C305.40899999999993 359.957 305.73099999999994 360.31300000000005 306.19399999999996 360.31300000000005L350.52199999999993 360.31300000000005C350.98499999999996 360.31300000000005 351.34299999999996 359.95900000000006 351.34299999999996 359.492C351.34299999999996 359.02500000000003 350.98499999999996 358.671 350.52199999999993 358.671ZM332.463 373.447L324.254 373.447L324.254 366.88L332.463 366.88ZM303.731 365.238C303.731 365.412 303.55899999999997 365.238 303.731 365.238ZM303.731 327.477C303.55899999999997 327.477 303.731 327.304 303.731 327.477ZM352.985 327.477C352.985 327.304 353.15700000000004 327.477 352.985 327.477ZM332.457 343.996C332.457 343.359 332.324 342.74199999999996 332.061 342.162C331.90799999999996 341.825 331.51 341.67499999999995 331.17199999999997 341.827C330.83399999999995 341.98 330.68399999999997 342.376 330.837 342.714C331.02 343.11899999999997 331.113 343.551 331.113 343.996C331.113 345.716 329.711 347.116 327.986 347.116C326.262 347.116 324.859 345.716 324.859 343.996C324.859 342.277 326.262 340.87699999999995 327.986 340.87699999999995C328.433 340.87699999999995 328.866 340.96999999999997 329.272 341.15299999999996C329.61 341.306 330.008 341.15599999999995 330.161 340.81899999999996C330.314 340.48199999999997 330.164 340.085 329.826 339.93199999999996C329.244 339.66999999999996 328.625 339.537 327.98600000000005 339.537C325.5210000000001 339.537 323.516 341.53799999999995 323.516 343.996C323.516 346.455 325.521 348.45599999999996 327.98600000000005 348.45599999999996C330.451 348.45599999999996 332.45700000000005 346.455 332.45700000000005 343.996Z " fill="#2ab0e5" transform="matrix(1,0,0,1,-281,-302)"></path></svg>
          .site-up__stage-name Этап 1
          .site-up__dots
        .site-up__right
          .site-up__title Аналитика
          .site-up__row
            .site-up__part Техническое задание
            .site-up__worker Project-менеджер
            .site-up__time 2 дня
          .site-up__row
            .site-up__part SEO-аудит, разработка структуры
            .site-up__worker Аналитик
            .site-up__time 3 дня
          .site-up__row
            .site-up__part Usability-аудит, изучение ЦА и тематики
            .site-up__worker Usability-аналитик
            .site-up__time 5 дней
      .site-up__stage
        .site-up__left
          .site-up__ico
            | <svg id="SvgjsSvg1106" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="93" height="93"><defs id="SvgjsDefs1107"><clipPath id="SvgjsClipPath1111"><path id="SvgjsPath1110" d="M327.719 554.719C353.124 554.719 373.719 575.3140000000001 373.719 600.719C373.719 626.124 353.124 646.719 327.719 646.719C302.31399999999996 646.719 281.719 626.124 281.719 600.719C281.719 575.3140000000001 302.31399999999996 554.719 327.719 554.719Z " fill="#ffffff"></path></clipPath></defs><path id="SvgjsPath1108" d="M327.719 554.719C353.124 554.719 373.719 575.3140000000001 373.719 600.719C373.719 626.124 353.124 646.719 327.719 646.719C302.31399999999996 646.719 281.719 626.124 281.719 600.719C281.719 575.3140000000001 302.31399999999996 554.719 327.719 554.719Z " fill="#ffffff" transform="matrix(1,0,0,1,-281,-554)"></path><path id="SvgjsPath1109" d="M327.719 554.719C353.124 554.719 373.719 575.3140000000001 373.719 600.719C373.719 626.124 353.124 646.719 327.719 646.719C302.31399999999996 646.719 281.719 626.124 281.719 600.719C281.719 575.3140000000001 302.31399999999996 554.719 327.719 554.719Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#2ab0e5" stroke-miterlimit="50" stroke-width="2" clip-path="url(&quot;#SvgjsClipPath1111&quot;)" transform="matrix(1,0,0,1,-281,-554)"></path><path id="SvgjsPath1112" d="M349.825 588.033C350.279 588.033 350.647 587.665 350.647 587.211L350.664 583.605L353.11699999999996 583.605C353.57099999999997 583.605 353.93399999999997 583.2810000000001 353.93399999999997 582.827L353.93399999999997 576.252C353.93399999999997 575.798 353.566 575.43 353.11199999999997 575.43L346.537 575.43C346.08299999999997 575.43 345.75899999999996 575.794 345.75899999999996 576.2479999999999L345.75899999999996 578.6999999999999L310.60599999999994 578.6999999999999L310.60599999999994 576.2479999999999C310.60599999999994 575.794 310.28099999999995 575.43 309.82699999999994 575.43L303.25199999999995 575.43C302.79799999999994 575.43 302.42999999999995 575.798 302.42999999999995 576.252L302.42999999999995 582.7879999999999C302.42999999999995 583.2419999999998 302.7939999999999 583.6049999999999 303.24799999999993 583.6049999999999L305.7009999999999 583.6049999999999L305.7179999999999 618.7149999999999L303.2519999999999 618.7149999999999C302.7979999999999 618.7149999999999 302.4299999999999 619.083 302.4299999999999 619.5369999999999L302.4299999999999 626.112C302.4299999999999 626.5659999999999 302.7979999999999 626.934 303.2519999999999 626.934L309.8269999999999 626.934C310.2809999999999 626.934 310.6059999999999 626.5699999999999 310.6059999999999 626.116L310.6059999999999 623.664L345.7589999999999 623.664L345.7149999999999 626.112C345.7149999999999 626.5659999999999 346.0829999999999 626.934 346.5369999999999 626.934L353.1119999999999 626.934C353.5659999999999 626.934 353.9339999999999 626.5659999999999 353.9339999999999 626.112L353.9339999999999 619.5369999999999C353.9339999999999 619.083 353.5709999999999 618.7589999999999 353.1169999999999 618.7589999999999L350.66399999999993 618.7589999999999L350.64699999999993 590.4979999999999C350.64699999999993 590.044 350.27899999999994 589.6759999999999 349.82499999999993 589.6759999999999C349.3709999999999 589.6759999999999 349.00299999999993 590.044 349.00299999999993 590.4979999999999L349.02899999999994 618.7589999999999L346.57599999999996 618.7589999999999C346.123 618.7589999999999 345.75899999999996 619.122 345.75899999999996 619.5759999999999L345.75899999999996 622.0289999999999L310.60599999999994 622.0289999999999L310.60599999999994 619.5759999999999C310.60599999999994 619.122 310.24199999999996 618.7589999999999 309.78799999999995 618.7589999999999L307.33599999999996 618.7589999999999L307.33599999999996 583.6049999999999L309.78799999999995 583.6049999999999C310.24199999999996 583.6049999999999 310.60599999999994 583.2419999999998 310.60599999999994 582.7879999999999L310.60599999999994 580.3349999999999L345.75899999999996 580.3349999999999L345.75899999999996 582.7879999999999C345.75899999999996 583.2419999999998 346.08299999999997 583.6489999999999 346.537 583.6489999999999L349.029 583.6049999999999L349.003 587.2109999999999C349.003 587.6649999999998 349.371 588.0329999999999 349.825 588.0329999999999ZM343.306 586.875C343.306 586.421 342.943 586.058 342.489 586.058L313.876 586.058C313.42199999999997 586.058 313.058 586.421 313.058 586.875L313.058 601.591C313.058 602.045 313.42199999999997 602.408 313.876 602.408L342.489 602.408C342.943 602.408 343.306 602.045 343.306 601.591ZM314.693 587.693L326.344 594.196L314.693 600.773ZM330.02 594.196L341.671 587.693L341.671 600.773ZM328.182 595.115L339.219 600.773L317.146 600.773ZM317.146 587.693L339.219 587.693L328.182 593.2769999999999ZM347.359 577.074L352.28999999999996 577.074L352.28999999999996 582.005L347.359 582.005ZM309.005 582.005L304.074 582.005L304.074 577.074L309.005 577.074ZM347.359 620.359L352.28999999999996 620.359L352.28999999999996 625.2900000000001L347.359 625.2900000000001ZM309.005 625.29L304.074 625.29L304.074 620.3589999999999L309.005 620.3589999999999ZM326.956 614.671L313.87600000000003 614.671C313.422 614.671 313.05800000000005 615.0350000000001 313.05800000000005 615.489C313.05800000000005 615.943 313.422 616.306 313.87600000000003 616.306L326.956 616.306C327.41 616.306 327.774 615.943 327.774 615.489C327.774 615.0350000000001 327.41 614.671 326.956 614.671ZM326.956 611.401L313.87600000000003 611.401C313.422 611.401 313.05800000000005 611.765 313.05800000000005 612.2189999999999C313.05800000000005 612.6729999999999 313.422 613.036 313.87600000000003 613.036L326.956 613.036C327.41 613.036 327.774 612.6729999999999 327.774 612.2189999999999C327.774 611.765 327.41 611.401 326.956 611.401ZM326.956 608.131L313.87600000000003 608.131C313.422 608.131 313.05800000000005 608.495 313.05800000000005 608.948C313.05800000000005 609.403 313.422 609.766 313.87600000000003 609.766L326.956 609.766C327.41 609.766 327.774 609.4029999999999 327.774 608.948C327.774 608.495 327.41 608.131 326.956 608.131ZM342.489 614.671L329.409 614.671C328.955 614.671 328.591 615.0350000000001 328.591 615.489C328.591 615.943 328.955 616.306 329.409 616.306L342.489 616.306C342.943 616.306 343.306 615.943 343.306 615.489C343.306 615.0350000000001 342.943 614.671 342.489 614.671ZM342.489 611.401L329.409 611.401C328.955 611.401 328.591 611.765 328.591 612.2189999999999C328.591 612.6729999999999 328.955 613.036 329.409 613.036L342.489 613.036C342.943 613.036 343.306 612.6729999999999 343.306 612.2189999999999C343.306 611.765 342.943 611.401 342.489 611.401ZM342.489 608.131L329.409 608.131C328.955 608.131 328.591 608.495 328.591 608.948C328.591 609.403 328.955 609.766 329.409 609.766L342.489 609.766C342.943 609.766 343.306 609.4029999999999 343.306 608.948C343.306 608.495 342.943 608.131 342.489 608.131ZM342.489 604.861L313.876 604.861C313.42199999999997 604.861 313.058 605.224 313.058 605.678C313.058 606.132 313.42199999999997 606.496 313.876 606.496L342.489 606.496C342.943 606.496 343.306 606.132 343.306 605.678C343.306 605.224 342.943 604.861 342.489 604.861Z " fill="#2ab0e5" transform="matrix(1,0,0,1,-281,-554)"></path></svg>
          .site-up__stage-name Этап 2
          .site-up__dots
        .site-up__right
          .site-up__title Прототипы и дизайн
          .site-up__row
            .site-up__part Разработка прототипов
            .site-up__worker Usability-аналитик
            .site-up__time 4 дня
          .site-up__row
            .site-up__part Дизайн-макеты
            .site-up__worker Дизайнер
            .site-up__time 10 дней
      .site-up__stage
        .site-up__left
          .site-up__ico
            | <svg id="SvgjsSvg1099" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="93" height="93"><defs id="SvgjsDefs1100"><clipPath id="SvgjsClipPath1104"><path id="SvgjsPath1103" d="M327.719 746.719C353.124 746.719 373.719 767.3140000000001 373.719 792.719C373.719 818.124 353.124 838.719 327.719 838.719C302.31399999999996 838.719 281.719 818.124 281.719 792.719C281.719 767.3140000000001 302.31399999999996 746.719 327.719 746.719Z " fill="#ffffff"></path></clipPath></defs><path id="SvgjsPath1101" d="M327.719 746.719C353.124 746.719 373.719 767.3140000000001 373.719 792.719C373.719 818.124 353.124 838.719 327.719 838.719C302.31399999999996 838.719 281.719 818.124 281.719 792.719C281.719 767.3140000000001 302.31399999999996 746.719 327.719 746.719Z " fill="#ffffff" transform="matrix(1,0,0,1,-281,-746)"></path><path id="SvgjsPath1102" d="M327.719 746.719C353.124 746.719 373.719 767.3140000000001 373.719 792.719C373.719 818.124 353.124 838.719 327.719 838.719C302.31399999999996 838.719 281.719 818.124 281.719 792.719C281.719 767.3140000000001 302.31399999999996 746.719 327.719 746.719Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#2ab0e5" stroke-miterlimit="50" stroke-width="2" clip-path="url(&quot;#SvgjsClipPath1104&quot;)" transform="matrix(1,0,0,1,-281,-746)"></path><path id="SvgjsPath1105" d="M350.268 771.994L305.73199999999997 771.994C305.32599999999996 771.994 304.998 772.318 304.998 772.7180000000001L304.998 812.2810000000001C304.998 812.6800000000001 305.32599999999996 813.004 305.73199999999997 813.004L350.268 813.004C350.674 813.004 351.003 812.6800000000001 351.003 812.2810000000001L351.003 804.561C351.003 804.1610000000001 350.674 803.8380000000001 350.268 803.8380000000001C349.863 803.8380000000001 349.534 804.1610000000001 349.534 804.561L349.534 811.557L306.466 811.557L306.458 779.189L349.54200000000003 779.189L349.53400000000005 801.6659999999999C349.53400000000005 802.0659999999999 349.86300000000006 802.39 350.26800000000003 802.39C350.67400000000004 802.39 351.00300000000004 802.066 351.00300000000004 801.6659999999999L351.00300000000004 772.718C351.00300000000004 772.318 350.67400000000004 771.9939999999999 350.26800000000003 771.9939999999999ZM306.466 773.442L333.47700000000003 773.434L333.47700000000003 777.75L306.466 777.784ZM321.375 790.003C321.167 789.659 320.717 789.546 320.368 789.7510000000001L311.816 794.7730000000001C311.594 794.9030000000001 311.45799999999997 795.1390000000001 311.45799999999997 795.3940000000001C311.45799999999997 795.6490000000001 311.594 795.8860000000001 311.816 796.0160000000001L320.368 801.0380000000001C320.486 801.1070000000001 320.615 801.1400000000001 320.743 801.1400000000001C320.99399999999997 801.1400000000001 321.237 801.0130000000001 321.375 800.7860000000001C321.582 800.442 321.468 799.998 321.12 799.7940000000001L313.627 795.3940000000001L321.12 790.9950000000001C321.468 790.7900000000001 321.582 790.3460000000001 321.375 790.0030000000002ZM334.626 800.786C334.763 801.0129999999999 335.00699999999995 801.14 335.25699999999995 801.14C335.38499999999993 801.14 335.51399999999995 801.107 335.63199999999995 801.038L344.18399999999997 796.016C344.40599999999995 795.886 344.542 795.649 344.542 795.394C344.542 795.139 344.40599999999995 794.903 344.18399999999997 794.773L335.63199999999995 789.751C335.28399999999993 789.5459999999999 334.83299999999997 789.659 334.626 790.0029999999999C334.41799999999995 790.3459999999999 334.532 790.79 334.881 790.9949999999999L342.37399999999997 795.3939999999999L334.881 799.7939999999999C334.532 799.9979999999998 334.41799999999995 800.4419999999999 334.626 800.7859999999998ZM330.811 789.969L323.96999999999997 800.0120000000001C323.74399999999997 800.344 323.83299999999997 800.7940000000001 324.16999999999996 801.017C324.29599999999994 801.1 324.43799999999993 801.1400000000001 324.57899999999995 801.1400000000001C324.81499999999994 801.1400000000001 325.04699999999997 801.027 325.18899999999996 800.8190000000001L332.03 790.7760000000001C332.256 790.445 332.167 789.9950000000001 331.83 789.772C331.493 789.5490000000001 331.037 789.638 330.811 789.969ZM334.937 777.75L334.937 773.434L349.534 773.442L349.534 777.784ZM338.327 774.841C337.895 774.841 337.544 775.187 337.544 775.613C337.544 776.038 337.895 776.3850000000001 338.327 776.3850000000001C338.758 776.3850000000001 339.11 776.0380000000001 339.11 775.613C339.11 775.187 338.75800000000004 774.841 338.327 774.841ZM342.34 774.841C341.90799999999996 774.841 341.55699999999996 775.187 341.55699999999996 775.613C341.55699999999996 776.038 341.90799999999996 776.3850000000001 342.34 776.3850000000001C342.772 776.3850000000001 343.123 776.0380000000001 343.123 775.613C343.123 775.187 342.772 774.841 342.34 774.841ZM346.353 774.841C345.921 774.841 345.57 775.187 345.57 775.613C345.57 776.038 345.921 776.3850000000001 346.353 776.3850000000001C346.785 776.3850000000001 347.136 776.0380000000001 347.136 775.613C347.136 775.187 346.785 774.841 346.353 774.841Z " fill="#2ab0e5" transform="matrix(1,0,0,1,-281,-746)"></path></svg>
          .site-up__stage-name Этап 3
          .site-up__dots
        .site-up__right
          .site-up__title Программирование
          .site-up__row
            .site-up__part Программирование
            .site-up__worker  PHP программист
            .site-up__time 14 дней
          .site-up__row
            .site-up__part Верстка

            .site-up__worker Верстальщик
            .site-up__time 5 дней
          .site-up__row
            .site-up__part Техническое задание
            .site-up__worker Вебмастер
            .site-up__time 3 дня
          .site-up__row
            .site-up__part Перенос контента со старого сайта
            .site-up__worker Тестировщик
            .site-up__time 2 дня
      .site-up__total
        .site-up__total-left
          .site-up__ico
            | <svg id="SvgjsSvg1135" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="93" height="93"><defs id="SvgjsDefs1136"><clipPath id="SvgjsClipPath1140"><path id="SvgjsPath1139" d="M327.719 1001.16C353.124 1001.16 373.719 1021.75 373.719 1047.1599999999999C373.719 1072.56 353.124 1093.1599999999999 327.719 1093.1599999999999C302.31399999999996 1093.1599999999999 281.719 1072.56 281.719 1047.1599999999999C281.719 1021.7499999999999 302.31399999999996 1001.1599999999999 327.719 1001.1599999999999Z " fill="#ffffff"></path></clipPath></defs><path id="SvgjsPath1137" d="M327.719 1001.16C353.124 1001.16 373.719 1021.75 373.719 1047.1599999999999C373.719 1072.56 353.124 1093.1599999999999 327.719 1093.1599999999999C302.31399999999996 1093.1599999999999 281.719 1072.56 281.719 1047.1599999999999C281.719 1021.7499999999999 302.31399999999996 1001.1599999999999 327.719 1001.1599999999999Z " fill="#ffffff" transform="matrix(1,0,0,1,-281,-1001)"></path><path id="SvgjsPath1138" d="M327.719 1001.16C353.124 1001.16 373.719 1021.75 373.719 1047.1599999999999C373.719 1072.56 353.124 1093.1599999999999 327.719 1093.1599999999999C302.31399999999996 1093.1599999999999 281.719 1072.56 281.719 1047.1599999999999C281.719 1021.7499999999999 302.31399999999996 1001.1599999999999 327.719 1001.1599999999999Z " fill-opacity="0" fill="#ffffff" stroke-dasharray="0" stroke-linejoin="miter" stroke-linecap="butt" stroke-opacity="1" stroke="#2ab0e5" stroke-miterlimit="50" stroke-width="2" clip-path="url(&quot;#SvgjsClipPath1140&quot;)" transform="matrix(1,0,0,1,-281,-1001)"></path><path id="SvgjsPath1141" d="M321.085 1050.92L321.085 1049.1100000000001L325.37 1049.1100000000001L325.37 1050.71C325.37 1052.42 326.79200000000003 1053.81 328.539 1053.81L351.233 1053.81C351.548 1053.81 351.831 1053.62 351.947 1053.34C352.062 1053.05 351.987 1052.72 351.75600000000003 1052.51L342.312 1043.89L351.75600000000003 1035.2700000000002C351.987 1035.0600000000002 352.062 1034.7400000000002 351.947 1034.4500000000003C351.831 1034.1600000000003 351.548 1033.9700000000003 351.232 1033.9700000000003L336.27500000000003 1033.9700000000003L336.27500000000003 1030.0200000000002C336.27500000000003 1029.6100000000001 335.932 1029.2700000000002 335.50800000000004 1029.2700000000002C335.49500000000006 1029.2700000000002 328.51300000000003 1029.2700000000002 328.50000000000006 1029.2700000000002L321.08500000000004 1029.2700000000002L321.08500000000004 1029.1600000000003C321.08500000000004 1028.3900000000003 320.22900000000004 1028.0000000000002 318.54200000000003 1028.0000000000002C316.855 1028.0000000000002 316.00000000000006 1028.3900000000003 316.00000000000006 1029.1600000000003C316.00000000000006 1029.1700000000003 316.00000000000006 1033.8600000000004 316.00000000000006 1033.8700000000003C316.00000000000006 1033.8800000000003 316.00000000000006 1038.6800000000003 316.00000000000006 1038.6900000000003C316.00000000000006 1038.7000000000003 316.00000000000006 1043.5000000000002 316.00000000000006 1043.5100000000002C316.00000000000006 1043.5200000000002 316.00000000000006 1048.3200000000002 316.00000000000006 1048.3300000000002C316.00000000000006 1048.3400000000001 316.00000000000006 1053.14 316.00000000000006 1053.14C316.00000000000006 1053.15 316.00000000000006 1057.96 316.00000000000006 1057.96C316.00000000000006 1057.97 316.00000000000006 1062.78 316.00000000000006 1062.78L316.00000000000006 1065.84C316.00000000000006 1066.61 316.8550000000001 1067 318.54200000000003 1067C320.22900000000004 1067 321.08500000000004 1066.61 321.08500000000004 1065.84C321.08500000000004 1065.84 321.08500000000004 1050.9299999999998 321.08500000000004 1050.9199999999998ZM325.37 1032.37L325.37 1047.61L321.085 1047.61C321.085 1047.6 321.085 1046.11 321.085 1046.1C321.085 1046.09 321.085 1041.29 321.085 1041.28C321.085 1041.27 321.085 1036.47 321.085 1036.46C321.085 1036.45 321.085 1031.65 321.085 1031.64L321.085 1030.7700000000002L325.825 1030.7700000000002C325.536 1031.2400000000002 325.37 1031.7900000000002 325.37 1032.3700000000001ZM328.511 1030.77C328.517 1030.77 329.831 1030.77 329.83700000000005 1030.77L334.74000000000007 1030.77L334.74000000000007 1033.97L328.53900000000004 1033.97C327.63800000000003 1033.97 326.90500000000003 1033.25 326.90500000000003 1032.3700000000001C326.90500000000003 1031.5000000000002 327.62300000000005 1030.7900000000002 328.511 1030.7700000000002ZM319.55 1040.88L317.535 1042.13L317.535 1039.0900000000001L319.55 1037.8400000000001ZM319.55 1060.16L317.535 1061.41L317.535 1058.3600000000001L319.55 1057.1200000000001ZM319.55 1055.34L317.535 1056.59L317.535 1053.55L319.55 1052.3ZM319.55 1045.7L317.535 1046.95L317.535 1043.91L319.55 1042.66ZM319.55 1036.06L317.535 1037.31L317.535 1034.27L319.55 1033.02ZM319.55 1050.52L317.535 1051.77L317.535 1048.73L319.55 1047.48ZM318.542 1065.5C318.097 1065.5 317.75399999999996 1065.46 317.53499999999997 1065.41L317.53499999999997 1063.18L319.54999999999995 1061.94L319.54999999999995 1065.41C319.33099999999996 1065.46 318.98699999999997 1065.5 318.542 1065.5ZM319.55 1031.24L317.535 1032.49L317.535 1029.59C317.754 1029.54 318.09700000000004 1029.5 318.54200000000003 1029.5C318.987 1029.5 319.331 1029.54 319.55 1029.59ZM326.905 1050.71L326.905 1035.03C327.383 1035.31 327.94199999999995 1035.47 328.539 1035.47L349.284 1035.47L340.663 1043.34C340.50800000000004 1043.49 340.419 1043.6799999999998 340.419 1043.8899999999999C340.419 1044.1 340.508 1044.3 340.663 1044.4399999999998L349.284 1052.3099999999997L328.539 1052.3099999999997C327.638 1052.3099999999997 326.905 1051.5899999999997 326.905 1050.7099999999998Z " fill="#2ab0e5" transform="matrix(1,0,0,1,-281,-1001)"></path></svg>
        .site-up__total-right
          .site-up__total-text Итого: <span class='site-up__total-time'>48 рабочих дней</span>
