doctype html
html
  head
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
      block title
        | Сайт компании
    meta(description='' content='')
    meta(keywords='' content='')
    link(rel="stylesheet" href="css/screen.css")
  body
    block header
    .site-content
      .inner
        block content-top
        block content-aside
        block content
        block content-bottom
    //block footer
    script(src="/js/jquery-2.2.4.min.js")
    script(src="/js/lib.js")
    script(src="/js/scripts.js")
