block header
  header.site-header
    .site-header__top
      a.humburger.js-hmb(href='#') Закрыть
      a.site-header__logo(href='/')
        img(src='/img/template/logo.png')
    .site-header__menu-wrapper.js-main-menu
      ul.main-menu
        li: a.main-menu__tile.main-menu__tile--site(href='/site.html') Сайт для продвижения
        li: a.main-menu__tile.main-menu__tile--adaptive(href='/adaptive.html') Адаптивная верстка
        li.is-parent
          a.main-menu__tile.main-menu__tile--support(href='#') Техподдержка
          ul.main-menu__second-lvl
            li: a.main-menu__child-link(href='/base.html')
              span Базовая поддержка
            li: a.main-menu__child-link(href='/client.html')
              span Клиентская поддержка
      ul.additional-menu
        li: a.additional-menu__link(href='#')
          span Мониторинг <br> ошибок и вирусов
        li: a.additional-menu__link(href='#')
          span Usability-аудит <br>И внедрение
        li: a.additional-menu__link(href='/portfolio.html')
          span Портфолио
        li: a.additional-menu__link(href='/documents.html')
          span Документы
        li: a.additional-menu__link(href='/faq.html')
          span F.A.Q.


