.portfolio-anons
  .row.center-xs
    .col
      a.btn--red(href='#') Смотреть портфолио
  .portfolio-anons__list
    a.portfolio-anons__item(href='#')
      img(src='/img/portfolio-01.png')
    a.portfolio-anons__item(href='#')
      img(src='/img/portfolio-02.png')
    a.portfolio-anons__item(href='#')
      img(src='/img/portfolio-03.png')